{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block headcontent %}

{% endblock %}


{% block header %}ABOUT US{% endblock %} 


{% block content %}
<div class="flex flex-wrap font-[Roboto]">
    <div class="flex flex-wrap justify-between bg-white gap-3 w-full">
        <div class="flex justify-center items-center ml-2 w-[30%]">
            <img class="w-[85%]" src="{% static 'images/about_img.png' %}" alt="">
        </div>
        <div class="w-[65%] m-5">
            <h1 class="text-lg font-bold"><u>HISTORY</u></h1>
            <p class="mb-5 text-sm">Car Tinting - is a tinted film to a vehicle’s windows to reduce glare, block UV rays, and enhance privacy. 
                Tints come in various shades and materials, such as dyed, metalized, carbon, or ceramic films. 
                High-quality tints can improve heat rejection, keeping the interior cooler and protecting the dashboard and seats from the sun damage.</p>
            <div class="flex gap-3">
                <div class="w-[50%]">
                    <h1 class="font-bold text-lg">OUR MISSION:</h1>
                    <li><b>Customer Focus:</b></li>
                    <p class="text-sm">To provide reliable, top-quality window tinting that enhances vehicle comfort, privacy, and safety for every customer</p>
                    <li><b>Premium Quality</b></li>
                    <p class="text-sm">To deliver superior car tinting services using the highest-grade materials and expert techniques for long-lasting performance.</p>
                    <li><b>Safety & UV Protection Focused</b></li>
                    <p class="text-sm">To protect drivers and passengers from harmful UV rays and excessive heat through advanced automotive tinting solutions.</p>
                </div>
                <div class="w-[50%]">
                    <h1 class="font-bold text-lg">OUR VISION:</h1>
                    <li><b>Customer Focus:</b></li>
                    <p class="text-sm">To provide reliable, top-quality window tinting that enhances vehicle comfort, privacy, and safety for every customer</p>
                    <li><b>Premium Quality</b></li>
                    <p class="text-sm">To deliver superior car tinting services using the highest-grade materials and expert techniques for long-lasting performance.</p>
                    <li><b>Safety & UV Protection Focused</b></li>
                    <p class="text-sm">To protect drivers and passengers from harmful UV rays and excessive heat through advanced automotive tinting solutions.</p>
                </div>
            </div>
        </div>

        
    </div>
        <!-- For Vision -->

    <div class="flex flex-wrap justify-between bg-white mt-10 gap-3 w-full">
        <div class="m-5 w-[65%]">
            <h1 class="text-lg font-bold"><u>HISTORY</u></h1>
            <p class="mb-5 text-sm">Car Tinting - is a tinted film to a vehicle’s windows to reduce glare, block UV rays, and enhance privacy. 
                Tints come in various shades and materials, such as dyed, metalized, carbon, or ceramic films. 
                High-quality tints can improve heat rejection, keeping the interior cooler and protecting the dashboard and seats from the sun damage.</p>
            <div class="flex gap-3">
                <div class="w-[50%]">
                    <h1 class="font-bold text-lg">OUR MISSION:</h1>
                    <li><b>Customer Focus:</b></li>
                    <p class="text-sm">To provide reliable, top-quality window tinting that enhances vehicle comfort, privacy, and safety for every customer</p>
                    <li><b>Premium Quality</b></li>
                    <p class="text-sm">To deliver superior car tinting services using the highest-grade materials and expert techniques for long-lasting performance.</p>
                    <li><b>Safety & UV Protection Focused</b></li>
                    <p class="text-sm">To protect drivers and passengers from harmful UV rays and excessive heat through advanced automotive tinting solutions.</p>
                </div>
                <div class="w-[50%]">
                    <h1 class="font-bold text-lg">OUR VISION:</h1>
                    <li><b>Customer Focus:</b></li>
                    <p class="text-sm">To provide reliable, top-quality window tinting that enhances vehicle comfort, privacy, and safety for every customer</p>
                    <li><b>Premium Quality</b></li>
                    <p class="text-sm">To deliver superior car tinting services using the highest-grade materials and expert techniques for long-lasting performance.</p>
                    <li><b>Safety & UV Protection Focused</b></li>
                    <p class="text-sm">To protect drivers and passengers from harmful UV rays and excessive heat through advanced automotive tinting solutions.</p>
                </div>
            </div>
        </div>
        <div class="flex justify-center items-center mr-2 w-[30%]">
        <img class="w-[85%]" src="{% static 'images/about_img.png' %}" alt="">
        </div>
    </div>
    
    
</div>
{% endblock %}


{% block script %}

{% endblock %}
