{% extends 'base.html' %}
{% load static %}

<!--title-->
{% block title %}Manage User{% endblock %}

<!--(optional)head content-->
{% block headcontent %}
<link rel="stylesheet" href="{% static 'css/default_design.css' %}">

<style>
    strong, bdi, p #text{
        display: none;
    }
    
    label{
        margin: 0 20px;
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 600;
        color: #1e1e1e;
    }

    .button{
        font-family: 'League Spartan';
    }

    .button:hover{
        cursor: pointer;
        scale: 1.05;
        transition: 0.5s;
        color: #F8D146;
    }
</style>

{% endblock %}

<!--header-->
{% block header %}MANAGE USER{% endblock %} 

<!--page content-->
{% block content %}
    <div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="fields_1">
                <div class="">
                    <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                    {{ form.username }}
                    {% if form.username.errors %}
                        <div class="text-[#e74c3c] text-xs md:text-sm font-bold mx-4">
                            {% for error in form.username.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
        
                <div class="">
                    <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                    {{ form.first_name }}
                    {% if form.first_name.errors %}
                        <div class="text-[#e74c3c] text-xs md:text-sm font-bold mx-4">
                            {% for error in form.first_name.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
        
                <div class="">
                    <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                    {{ form.last_name }}
                    {% if form.last_name.errors %}
                        <div class="text-[#e74c3c] text-xs md:text-sm font-bold mx-4">
                            {% for error in form.last_name.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
        
                <div class="">
                    <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="text-[#e74c3c] text-xs md:text-sm font-bold mx-4">
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
        
                <!-- Non-field errors (example: "Username already exists") -->
                {% if form.non_field_errors %}
                    <div class="text-[#e74c3c] text-xs md:text-sm font-bold mx-4">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
        
                <!-- Buttons -->
                <div class="flex justify-between my-2 mx-4">
                    <div disabled aria-describedby="id_password_helptext" id="id_password" class="" title="Reset Password Page">
                        <p>
                            <a class="button" href="../password/">Reset Password</a>
                        </p>
                    </div>
        
                    <div class="flex gap-2">
                        <button id="button_2" onclick="history.back()" class="w-full h-[40px] px-4 font-bold text-[League Spartan] text-center">
                            Cancel
                        </button>
        
                        <button id="button_1" class="w-full h-[40px] px-4 font-bold text-[League Spartan] text-center">
                            Update Profile
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    {% endblock %}

    <!--(optional)script-->
    {% block script %}
    
    {% endblock %}

{{ redirect_to_login_immediately }}

