{% extends 'base.html' %}
{% load static %}

<!--title-->
{% block title %}Change Password{% endblock %}

<!--(optional)head content-->
{% block headcontent %}
<link rel="stylesheet" href="{% static 'css/default_design.css' %}">

<style>
    label{
        margin: 0 20px;
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 600;
        color: #1e1e1e;
    }

</style>
{% endblock %}

<!--header-->
{% block header %}MANAGE USER{% endblock %} 

<!--page content-->
{% block content %}
    <form action="" method="post">
        {% csrf_token %}

        <div class="field_1">
            <div class="">
                <label for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}</label>
                {{ form.old_password }}
                {% if form.old_password.errors %}
                    <div class="text-[#e74c3c] text-xs md:text-sm font-bold mx-4">
                        {% for error in form.old_password.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
    
            <div class="">
                <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
                {{ form.new_password1 }}
                {% if form.new_password1.errors %}
                    <div class="text-[#e74c3c] text-xs md:text-sm font-bold mx-4">
                        {% for error in form.new_password1.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
    
            <div class="">
                <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                    <div class="text-[#e74c3c] text-xs md:text-sm font-bold mx-4">
                        {% for error in form.new_password2.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
    
            <!-- Non-field errors (example: "Username already exists") -->
            {% if form.non_field_errors %}
                <div class="text-[#e74c3c] text-xs md:text-sm font-bold mx-4">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="flex justify-end">
            <div class="my-2 flex justify-end gap-3 w-[50%]">
                <button id="button_2" onclick="history.back()" class="w-full h-[40px] px-4 font-bold text-[League Spartan] text-center">
                    Cancel
                </button>
        
                <button id="button_1" class="w-full h-[40px] px-4 font-bold text-[League Spartan] text-center">
                    Change Password
                </button>
            </div>
        </div>
        
    </form>

    {% endblock %}
{{ redirect_to_login_immediately }}
