.body{
    height: 100%;
}
.container{
    position: absolute;
    height: 100%;
    width: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 80px 0 0 12%;
    padding: 0 20px 0 20px; 
    z-index: 8;
    /* border: solid; */
    gap: 10px;
}
.container-1{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    /* border: solid; */
    width: 100%;
    gap: 5px;
    height: 20%;
}
/* .employee_status .all,
.employee_status .full-time,
.employee_status .part-time{
    border: solid;
} */

.buttons .check-employee, .edit-employee{
    padding: 15px;
    border-radius: 25px;
    cursor: pointer;
}
.buttons .check-employee{
    background-color: #F8D146;
    color: #fff;
    border: none;
}

.buttons .check-employee:hover{
    background-color: #1e1e1e;
    transition: 0.3s;
    color: #F8D146;
}

.buttons .edit-employee{
    background-color: #1e1e1e;
    color: #F8D146;
}
.buttons .edit-employee:hover{
    background-color: #F8D146;
    color: #1e1e1e;
    transition: 0.3s;
}
.profile-picture img{

}

.employee_status{
    width: 50%;
    height: 50%;
    display: flex;
    background-color: #fff;
    border-radius: 50px;
    overflow: hidden;
}


.employee_status .all,
.employee_status .full-time,
.employee_status .part-time{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.employee_status .all button,
.employee_status .full-time button,
.employee_status .part-time button{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
}

.employee_status .all button p,
.employee_status .full-time button p,
.employee_status .part-time button p{
    margin: 0;
    padding: 2px 0 0;
    font-size: 1rem;
    font-family: 'League Spartan';
    font-weight: 700;
}

.employee_status .all{
    border-right: 1px solid #1e1e1e;
}

.employee_status .full-time{
    border-right: 1px solid #1e1e1e;
    border-left: 1px solid #1e1e1e;
}

.employee_status .part-time{
    border-left: 1px solid #1e1e1e;
}

.employee_status .all button:hover,
.employee_status .full-time button:hover,
.employee_status .part-time button:hover{
    color: #fff;
    background-color: #F8D146;
    transition: 0.25s;
}


/* SUMMARY TABLE CSS */

.div1{
    border: solid;
    width: 100%;
}
.div2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    width: 100%;
}
.edit-icon{
    width: 30%;
    cursor: pointer;
}

.tableheader {
    font-family: 'League Spartan';
    font-size: 23px;
    font-weight: bold;
}

table {
    
    font-size: 12px;
    border: none;
    border-radius: 15px;
    width: 100%;
    background-color: white;
    text-align: center;
    justify-content: center;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;

}

th {
    font-family: 'League Spartan';
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding: 12.5px;
    border-bottom: 2px solid #cac5c5;
    border-inline: 1px solid #cac5c5;
    writing-mode: horizontal-tb;
}
td {
    font-family: 'Inter';
    border-bottom: 1px solid #cac5c5;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    border-inline: 1px solid #cac5c5;
    writing-mode: horizontal-tb;
}

th:first-child, td:first-child, th:last-child, td:last-child {
    border-left: none;
    border-right: none;
}
tr:first-child th {
    border-top: none;
}
tr:last-child td {
    border-bottom: none;
}


td:nth-child(odd) {
    background-color: white;
}

td:nth-child(even) {
    background-color: #ececec;
}

