.body{
    height: 100%;
    
}
.container{
    position: absolute;
    height: 100%;
    width: 85%;
    margin: 80px 0 0 12%;
    padding: 0 20px 0 20px; 
    z-index: 8;
}

.manage_user, .about_us,
.logout {
    position: relative;
    background-color: white;
    width: 100%;
    height: 10%;
    border-radius: 15px;
    display: flex;
    align-items: center;

    margin: 10px 0;
}


.manage_user{
    transition: .15s;
}

.manage_user .user {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    background: none;
    cursor: pointer;

    text-align: left;

    border: none;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.manage_user .user img{
    height: 40px;
}

.manage_user .user h1{
    margin: 0 10px;
    color: #1e1e1e;
    font-family: 'League Spartan';
    font-weight: 800;
    font-size: 1.4rem;
}

.manage_user.active{
    outline: 4px solid #F8D146;
    outline-offset: -3px;
}

.manage_user.active .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 100%;    
    z-index: 1;
    top: 110%;
    left: 0;
    border-radius: 10px;
    overflow: hidden;

    box-shadow: 0 5px 10px #c4b68666;
}

.dropdown-content .form{
    padding: 15px 20px;
}

.dropdown-content .form form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dropdown-content .form form .change_username,
.dropdown-content .form form .change_password{
    display: flex;
    flex-direction: column;
}

.dropdown-content .form form .change_username label,
.dropdown-content .form form .change_password label{
    margin: 0 10px;
    font-family: 'Inter';
    font-size: .95rem;
    font-weight: 600;
    color: #1e1e1e;
}

.dropdown-content .form form .change_username input[type=text]{
    margin: 8px 0;
    padding: 10px 15px;
    border: none;

    font-family: 'Inter';
    font-size: 1rem;

    background-color: rgba(111, 81, 21, 0.075);
    height: 30px;
    border-radius: 10px;
}

.dropdown-content .form form .change_password input[type=password]{
    margin: 8px 0;
    padding: 10px 15px;
    border: none;

    font-family: 'Inter';
    font-size: 1rem;

    background-color: rgba(111, 81, 21, 0.075);
    height: 30px;
    border-radius: 10px;
}

.dropdown-content .form form .change_username input[type=text]::placeholder,
.dropdown-content .form form .change_password input[type=password]::placeholder{
    color: #1e1e1eb1;
}

.dropdown-content .form form .save_btn input[type=submit]{
    border: none;
    border-radius: 10px;

    padding: 10px 2.5%;

    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 700;
    
    background: linear-gradient(180deg, #F8D146 0%, #F5B93F 100%);
    color: #fff;
}

a{
    text-decoration: none;
}

a .about_us{
    width: 100%;
}

a .about_us .content{
    padding: 0 20px;
    display: flex;
    align-items: center;

}

a .about_us .content img{
    height: 34px;
}

a .about_us .content h1{
    margin: 0 10px;
    color: #1e1e1e;
    font-family: 'League Spartan';
    font-weight: 800;
    font-size: 1.4rem;

}

a .logout{
    width: 100%;
}

a .logout .content{
    padding: 0 20px;
    display: flex;
    align-items: center;
}

a .logout .content img{
    height: 40px;
}

a .logout .content h1{
    margin: 0 10px;
    color: #1e1e1e;
    font-family: 'League Spartan';
    font-weight: 800;
    font-size: 1.4rem;
}

