body{
    margin: 0;
    height: 100%;
    width: 100%;
}

.grid{
    height: 100%;
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-areas: 
        'cam logo'
        'cam body'
        'cam client';
    grid-template-columns: 70% 30%;
    grid-template-rows: 10% 75% 15%;
    background: linear-gradient(360deg, #F8D146 -100%, #fff 30%)
}

.grid .camera{
    grid-area: cam;
    background-color: #1e1e1e;
}


.logo{
    grid-area: logo;
    padding: 30px;
    gap: 10px;

    position: relative;
    display: flex;
    align-items: center;
}

.logo .logo_name{
    margin: 0;
    font-family: 'League Spartan';
    font-size: 1.25rem;
    font-weight: 900;
}

.record_attendance{
    grid-area: body;
    padding: 0 50px;
    display: flex;
    align-items: center;
}

.record_attendance .content{
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.record_attendance .content .title{

}

.record_attendance .content .title p{
    margin: 0;
    font-family: 'League Spartan';
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 110%;
}

.record_attendance .content .button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.record_attendance .content .button input[type=submit]{
    border: none;
    border-radius: 100px;

    padding: 15px 12%;

    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 700;
    
    background: linear-gradient(180deg, #F8D146 0%, #F5B93F 100%);
    color: #fff;
}

.client{
    grid-area: client;
    display: flex;
    justify-content: end;
}

.client img{
    max-width: 200px;
    max-height: 200px;
    filter: drop-shadow(1px 1px 1px #222);
}

