{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="{% static 'css/admin_login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="logo_container">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                <circle cx="19.7037" cy="19.7037" r="19.7037" fill="url(#paint0_linear_148_136)"/>
                <defs>
                  <linearGradient id="paint0_linear_148_136" x1="19.7037" y1="0" x2="19.7037" y2="39.4074" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#F8D146"/>
                    <stop offset="1" stop-color="#F5B93F"/>
                  </linearGradient>
                </defs>
            </svg>
            <p class="logo_name">PAYROLL SYSTEM</p>
        </div>
        <div class="login_container">
            <div class="login_title">
                <h1 class="welcome-to">WELCOME TO</h1>
                <h1 class="totos-payroll">TOTO’S PAYROLL SYSTEM</h1>
                <p>ADMIN CONTROL</p>
            </div>
            <div class="login_field">
                <form method="POST">
                    {% csrf_token %}

                    <label for="username">name</label><br>
                    {{ form.username }}

                    <br><br>

                    <label for="password">password</label><br>
                    {{ form.password }}

                    {{ form.as_p }}
                    <!-- <label for="admin-name">name</label><br>
                    {{form.username}}
                    <br><br> -->
                    <!-- <input type="text" name="admin-name" id="admin-name"><br><br> -->

                    <!-- <label for="admin-password">password</label><br>
                    {{form.password}} -->
                    <!-- <input type="text" name="admin-password" id="admin-password"> -->

                    <div class="login_buttons">
                        <input type="submit" value="LOGIN">
                    </div>
                </form>
            </div>
        </div>
        <div class="clientlogo_img">
            <img src="{% static 'images/clients_logo.png' %}" alt="Toto's Car Tinting Shop">
        </div>
        
    </div>
</body>
</html>