.body{
    height: 100%;
    /* border: solid; */
}
.containerr{
    /* border: solid; */
}
.container{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 85%;
    gap: 5px;
    margin: 70px 0 0 12%;
    padding: 0 20px 0 20px; 
    z-index: 8;
    /* border: solid; */
}

.top{
    display: flex;
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    gap: 10px;
    height: 20%;
    width: 100%;
    /* border: solid; */
    
}

.total_emp{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    font-family: "League Spartan";
    height: 100%;
    min-height: 150px;
    width: 33%;
    min-width: 430px;
    border-radius: 10px;
    background-color: #1E1E1E;
    color: white;
}
.div1{
    display: flex;
    margin: 10px;

}
.div2{
    width: 100%;
}
.content{
    margin: 10px;
}
.total_emp h2{
    font-size: clamp(1.2em, 1em, 5em);
}
.total_emp h1{
    color: #F8D146;
    font-weight: bold;
}
.content h1{
    font-size: clamp(2em, 4.2rem, 5em);
}
.vertical-line {
    border-left: 2px solid #F5B93F;
    height: 100%;
    margin-right: 10px;
}
.payroll_stats{
    font-family: "League Spartan";
    display: flex;
    flex-wrap: nowrap;
    background-color: #1E1E1E;
    color: white;
    height: 100%;
    min-height: 150px;
    width: 33%;
    min-width: 480px;
    border-radius: 10px;
}
.content1{
    margin-left: 10px;
    width: 50%;
    /* padding: 5px; */
}
.content1 h2{
    font-size: 16px;
}
.content1 h1{
    font-size: 1.5em;
    color: #F8D146;
    font-weight: bold;
}
.content2{
    border-radius: 10px;
    text-align: right;
    margin-left: 10px;
    background-color: #F8D146;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content2 h1{
    margin-right: 10px;
    margin-left: 10px;
    font-size: clamp(1.2em, 2.5em, 5em);
    color: #1E1E1E;
    font-weight: bold;
}
.content2 h2{
    margin-right: 10px;
    font-size: clamp(1.2em, 1em, 5em);
}
.time{
    font-family: "League Spartan";
    /* height: fit-content; */
    border-radius: 10px;
    height: 100%;
    min-height: 150px;
    width: 25%;
}
.time h1{
    font-size: clamp(3em, 1em + 4vw , 10em);
    text-align: right;
    margin: 0;
}
.time h2{
    text-align: right;
}
.content3{
    display: flex;
    justify-content: right;
}
.content3 h1{
    /* font-size: 2em; */
    font-size: clamp(1em, 2em, 5em);
    font-family: "Roboto";
    /* margin: 5px; */
}
.content3 p{
    font-weight: bold;
}
.table{
    width: 30%;
}
.table-1{
    border: none;
    background-color: #FFFF;
    border-radius: 10px;
    width: 100%;
}
.table-1 th,td,tr{
    padding: 10px;
    font-family: "League Spartan";
}
.table-1 th{
    text-align: left;
    color: #F8D146;
    font-size: 1em;
}
.table-1 tr, td{
    font-size: 1em;
}
.table-1 tr:nth-child(even) {
    background-color: rgb(241, 241, 241);
}

.basket {
    display: flex;
    justify-content: center;  
    align-items: center;  
    gap: 15px; 
    flex-wrap: wrap; 
    /* border: solid; */
}

#donutchart, #columnchart_values {
    width: 100%;
    width: 45%;
    height: 250px;
    /* border: solid; */
    overflow: hidden;
    background: white;
    border-radius: 10px;
    /* padding: 10px; */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.table2 table {
    font-size: 12px;
    border: none;
    border-radius: 15px;
    width: 100%;
    background-color: white;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
}
.table2{
    margin: 10px;
}
.table2 th {
    font-family: 'League Spartan';
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 12.5px;
    border-bottom: 2px solid #cac5c5;
}
.table2 td {
    border-bottom: 1px solid #cac5c5;
    padding: 10px;
    text-align: center;
    /* font-size: 13px; */
    font-size: clamp(8px, 1em, 1.5em);
    font-family: 'Inter';
}
.table2 tr:last-child td {
    border-bottom: none;
}
.table2 td:nth-child(odd) {
    background-color: white;
}

.table2 td:nth-child(even) {
    background-color: #ececec;
}

@media (max-width: 1071px) {
    .container{
        height: 100%;
    }
    .top{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
        height: fit-content;
        width: 100%;
        /* border: solid; */
    }
    .total_emp{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        font-family: "League Spartan";
        height: 100%;
        min-height: 120px;
        width: 40%;
        min-width: 100px;
        border-radius: 10px;
        background-color: #1E1E1E;
        color: white;
    }
    .total_emp h2{
        font-size: 1em;
    }
    .total_emp h1{
        font-size: 4em;
        color: #F8D146;
        font-weight: bold;
    }
    .payroll_stats{
        font-family: "League Spartan";
        display: flex;
        flex-wrap: nowrap;
        background-color: #1E1E1E;
        color: white;
        height: 100%;
        min-height: 150px;
        width: 50%;
        min-width: 480px;
        border-radius: 10px;
    }
    .content1{
        margin-left: 10px;
        width: 50%;
    }
    .content1 h2{
        font-size: 16px;
    }
    .content1 h1{
        font-size: 1.5em;
        color: #F8D146;
        font-weight: bold;
    }
    .content2{
        border-radius: 10px;
        text-align: right;
        margin-left: 10px;
        background-color: #F8D146;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .content2 h1{
        margin-right: 10px;
        margin-left: 10px;
        font-size: clamp(1.2em, 2.5em, 5em);
        color: #1E1E1E;
        font-weight: bold;
    }
    .content2 h2{
        margin-right: 10px;
        font-size: clamp(1.2em, 1em, 5em);
    }
    .div1{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .div1 .table{
        width: 90%;
    }
    .time{
        gap: 15px;
        margin: 0;
        /* display: flex; */
        display: none;
        justify-content: center;
        align-items: center;
        font-family: "League Spartan";
        height: fit-content;
        width: 100%;
        border: solid;
    }
    .time h1{
        font-size: clamp(3em, 1em + 4vw , 10em);
        text-align: right;
        margin: 0;
    }
    .time h2{
        text-align: right;
    }
    .content3{
        display: flex;
        justify-content: right;
    }
    .content3 h1{
        font-size: clamp(1em, 2em, 5em);
        font-family: "Roboto";
    }
    .content3 p{
        font-weight: bold;
    }
}





