.container{
    padding: 15px;
    grid-gap: 10px;
    z-index: 8;

    display: grid;
    grid-template-areas: 
        'empstats empstats empstats empstats paystats paystats paystats paystats weathertime weathertime weathertime weathertime'
        'historytbl historytbl historytbl empchart empchart empchart empchart paychart paychart paychart paychart paychart'
        'historytbl historytbl historytbl previewtbl previewtbl previewtbl previewtbl previewtbl previewtbl previewtbl previewtbl previewtbl';

    grid-template-rows: 175px auto auto;
    grid-template-columns: 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8%;

    border: 2px solid #1e1e1e;
}

/* 
.top{
    display: flex;
    gap: 10px;
    height: 175px;
    width: 100%;
} */

.total_emp{
    grid-area: empstats;
    /* height: 100%;
    width: 35%; 
    min-height: 150px;
    min-width: 430px; */

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    
    border-radius: 10px;
    background-color: #1E1E1E;

    overflow: hidden;
}

.total_emp .emp_statistics{
    width: 100%;
    height: 100%;
    margin: 0 15px;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.total_emp .emp_statistics .content{
    padding: 0;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
}

.total_emp .emp_statistics .content .title{
    margin: 0 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 5px;
}

.total_emp .emp_statistics .content .title h2{
    margin: 0;
    font-size: clamp(1.2em, 1em, 5em);
    font-family: 'League Spartan';
    font-weight: 800;
    color: white;
}

.total_emp .emp_statistics .content .title p{
    margin: 0;
    font-family: 'League Spartan';
    font-weight: 300;
    color: white;
}

.total_emp .emp_statistics .content .stats{
    margin: 0;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 5rem;
    /* font-size: clamp(3em, 5.5rem, 6em);*/
    line-height: 80%;

    display: flex;
    justify-content: end;

    background: -webkit-linear-gradient(320deg, #F8D146, #F5B93F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.total_emp .emp_statistics .vertical-line {
    border-left: 3px solid #F8D14630;

    height: 80%;
    margin: 15px;
}


.payroll_stats{
    grid-area: paystats;
    /* height: 100%;
    width: 35%;
    /* min-height: 150px;
    min-width: 400px; */

    margin: 0;
    border-radius: 10px;
    display: flex;
    
    background-color: #1E1E1E;
    overflow: hidden;
}

.payroll_stats .content1{
    width: 35%;
    height: 100%;
    margin: 0 15px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.payroll_stats .content1 h1{
    margin: 5% 0;
    font-family: 'League Spartan';
    font-size: 1rem;
    color: white;
}

.payroll_stats .content1 .processed{
    height: fit-content;
    margin: 5px 0 10px;
}

.payroll_stats .content1 .processed h2{
    margin: 5px 0;
    font-family: 'Roboto';
    font-size: .8rem;
    font-weight: 700;
    color: white;
}

.payroll_stats .content1 .processed p{
    margin: 0;
    font-family: 'Inter';
    font-size: 2rem;
    font-weight: 700;
    line-height: 80%;

    background: -webkit-linear-gradient(320deg, #F8D146, #F5B93F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.payroll_stats .content1 .pending{
    height: fit-content;
    margin: 5px 0 10px;
}

.payroll_stats .content1 .pending h2{
    margin:5px 0;
    font-family: 'Roboto';
    font-size: .8rem;
    font-weight: 500;
    color: white;
}

.payroll_stats .content1 .pending p{
    margin: 0;
    font-family: 'Inter';
    font-size: 2rem;
    font-weight: 700;
    line-height: 80%;

    color: #DC4646;
}


.payroll_stats .horizontal_line{
    width: 100%;
    border-bottom: 3px solid #ffffff30;
}


.payroll_stats .content2{
    width: 65%;
    height: 100%;
    border-radius: 10px;

    background: linear-gradient(90deg, #F8D146, #F5B93F);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
}

.payroll_stats .content2 .total_payroll{
    height: fit-content;
    margin: 5px 10px;
    display: flex;
    align-items: end;
    flex-direction: column;
}

.payroll_stats .content2 .total_payroll h1{
    margin: 0;
    font-family: 'Inter';
    font-size: 2.25rem;
    /* font-size: clamp(1.2em, 2.5em, 5em); */
    font-weight: 500;
    line-height: 90%;
    color: #1E1E1E;
}

.payroll_stats .content2 .total_payroll p{
    margin: 5px 0;
    font-family: 'Roboto';
    /* font-size: clamp(1.2em, 1em, 5em); */
    font-weight: 700;
    color: #fff;
}

.payroll_stats .content2 .next_payday{
    height: fit-content;
    margin: 5px 10px;
    display: flex;
    align-items: end;
    flex-direction: column;
}

.payroll_stats .content2 .next_payday h1{
    margin: 0;
    font-family: 'Inter';
    font-size: 2rem;
    /* font-size: clamp(0.5em, 2em, 4.5em); */
    font-weight: 500;
    line-height: 90%;
    color: #1E1E1E;
}

.payroll_stats .content2 .next_payday p{
    margin: 5px 0;
    font-family: 'Roboto';
    font-size: 1rem;
    /* font-size: clamp(.8em, 1em, 4.5em); */
    font-weight: 700;
    color: #fff;
}


.time{
    grid-area: weathertime;
    /* height: 100%;
    width: 30%;
    /* min-height: 150px;*/
    
    font-family: "League Spartan";
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}

.time .top_content{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.time .top_content .weather{
    margin: 0 5px 0 0;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.time .top_content .weather img{
    height: 30px;
    width: 30px;

}

.time .top_content .weather p{
    margin: 5px 5px 0 7.5px;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 80%;
}

.time .top_content h1{
    margin: 10px 0 0;
    font-size: clamp(3em, 6em , 10em);
    line-height: 80%;
}

.time .bottom_content{
    display: flex;
    justify-content: right;
    gap: 6px;
}

.time .bottom_content p{
    margin: 0;
    font-size: 1.6rem;
    /* font-size: clamp(1.25em, 1.6rem, 5em);*/
    font-weight: bold;
}

.time .bottom_content h1{
    margin: 0;
    font-size: clamp(1em, 2em, 5em);
    font-family: "Roboto";
    line-height: 70%;

    background: -webkit-linear-gradient(#F8D146, #F5B93F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.table{
    grid-area: historytbl;
    /* width: 30%;*/
}

.table-1{
    width: 100%;
    border: none;
    outline: none;
    overflow: hidden;
    border-collapse: collapse;
    background-color: #FFFF;
    border-radius: 10px;
}

.table-1 th,td{
    padding: 5px 10px;
}

.table-1 th{
    padding: 10px;
    text-align: left;
    color: #F8D146;
    font-family: "League Spartan";
    font-size: 1em;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.table-1 tr{
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.table-1 tr:last-child{
    border-bottom: none;
}

.table-1 tr td .history{
    margin: 0;
    padding: 5px;
    font-size: 0.9em;
    font-family: 'Inter';
}

.table-1 tr td .history_time{
    margin: 0;
    padding: 5px;

    color: #1e1e1e81;
    font-size: .8em;
    font-family: 'Roboto';
    font-weight: 600;
}

.table-1 tr:last-child td{
    padding: 10px;
}

.table-1 tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* .basket {
    display: flex;
    justify-content: center;  
    align-items: center;  
    gap: 15px; 
    flex-wrap: wrap; 
}*/

#donutchart {
    /* width: 100%;
    width: 45%;
    height: 250px;*/
    grid-area: empchart;

    overflow: hidden;
    background: white;
    border-radius: 10px;
}

#columnchart_values{
    grid-area: paychart;
    overflow: hidden;
    background: white;
    border-radius: 10px;
}

.table2 table {
    font-size: 12px;
    border: none;
    border-radius: 15px;
    width: 100%;
    background-color: white;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
}

.table2{
    grid-area: previewtbl;
}

.table2 th {
    padding: 15px 10px 10px;
    
    font-family: 'League Spartan';
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.table2 tr td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: center;
    font-size: clamp(10px, 1.1em, 1.5em);
    font-family: 'Inter';
}

.table2 tr:last-child td {
    border-bottom: none;
}

.table2 tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* @media (max-width: 1070px) {
    .container{
        height: fit-content;
    }
    .top{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
        height: fit-content;
        width: 100%;
    }
    .total_emp{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        font-family: "League Spartan";
        height: 100%;
        min-height: 120px;
        width: 40%;
        min-width: 100px;
        border-radius: 10px;
        background-color: #1E1E1E;
        color: white;
    }
    .total_emp h2{
        font-size: 1em;
    }
    .total_emp h1{
        font-size: 4em;
        color: #F8D146;
        font-weight: bold;
    }
    .payroll_stats{
        font-family: "League Spartan";
        display: flex;
        flex-wrap: nowrap;
        background-color: #1E1E1E;
        color: white;
        height: 100%;
        min-height: 150px;
        width: 50%;
        min-width: 480px;
        border-radius: 10px;
    }
    .content1{
        margin-left: 10px;
        width: 50%;
    }
    .content1 h2{
        font-size: 16px;
    }
    .content1 h1{
        font-size: 1.5em;
        color: #F8D146;
        font-weight: bold;
    }
    .content2{
        border-radius: 10px;
        text-align: right;
        margin-left: 10px;
        background-color: #F8D146;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .content2 h1{
        margin-right: 10px;
        margin-left: 10px;
        font-size: clamp(1.2em, 2.5em, 5em);
        color: #1E1E1E;
        font-weight: bold;
    }
    .content2 h2{
        margin-right: 10px;
        font-size: clamp(1.2em, 1em, 5em);
    }
    .div1{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .div1 .table{
        width: 90%;
    }
    .time{
        gap: 15px;
        margin: 0;
        display: none;
        justify-content: center;
        align-items: center;
        font-family: "League Spartan";
        height: fit-content;
        width: 100%;
        border: solid;
    }
    .time h1{
        font-size: clamp(3em, 1em + 4vw , 10em);
        text-align: right;
        margin: 0;
    }
    .time h2{
        text-align: right;
    }
    .content3{
        display: flex;
        justify-content: right;
    }
    .content3 h1{
        font-size: clamp(1em, 2em, 5em);
        font-family: "Roboto";
    }
    .content3 p{
        font-weight: bold;
    } 
}




 */
