#ttl_emp #content #amount,
#act_emp #content #amount{
    background: -webkit-linear-gradient(320deg, #F8D146, #F5B93F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#payroll-status #payroll-info{
    background: -webkit-linear-gradient(180deg, #F8D146 0%, #F5B93F 100%);
}

#processed-pending #processed{
    background: -webkit-linear-gradient(320deg, #F8D146, #F5B93F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#processed-pending #pending{
    color: #DC4646;
}


#history_table thead tr th, #history_table tbody tr td{
    
}

#history_table tbody tr{
    height: 87px;
    width: 100%;
}

#history_table tbody tr:last-child{
    height: 87px;
    width: 100%;
}

#history_table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}



.donut_chart {
    width: 100%;
    grid-area: empchart;

    display: flex;
    justify-content: center; 
    overflow: hidden;

    overflow: hidden;
    background: white;
    border-radius: 10px;
}

#donut{
    width: 100%;
    height: 100%;
    padding: 15px;
}

.bar_chart{
    overflow: hidden;
    background: white;
    border-radius: 10px;
}

#bar{
    width: 100%;
    height: 100%;
    padding: 15px;
}


#preview-table tbody tr:nth-child(odd) td{
    background-color: #f2f2f2 !important;
}

#preview-table tbody tr{
    height: 55px;
    width: 100%;
}

#preview-table tbody tr td{
    
}


