.body{
    height: 100%;
    
}
.container{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 85%;
    gap: 5px;
    margin: 80px 0 0 12%;
    padding: 0 20px 0 20px; 
    z-index: 8;
    /* border: solid; */
}

.top{
    height: 20%;
    /* border: solid; */
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.total_emp{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    font-family: "League Spartan";
    height: 100%;
    width: fit-content;
    min-width: 430px;
    border-radius: 10px;
    background-color: #1E1E1E;
    color: white;
}
.div1{
    display: flex;
    margin: 10px;

    /* border: solid; */
}
.div2{
    /* border: solid; */
    width: 100%;
}

.content{
    margin: 10px;
}
.total_emp h2{
    font-size: 20px;
}
.total_emp h1{
    font-size: 5em;
    color: #F8D146;
    font-weight: bold;
}
.vertical-line {
    border-left: 2px solid #F5B93F;
    height: 100%;
    margin-right: 10px;
}
.payroll_stats{
    font-family: "League Spartan";
    display: flex;
    flex-wrap: nowrap;
    background-color: #1E1E1E;
    color: white;
    height: 100%;
    width: fit-content;
    min-width: 480px;
    border-radius: 10px;
}
.content1{
    margin-left: 10px;
    width: 50%;
    padding: 5px;
}
.content1 h2{
    font-size: 16px;
}
.content1 h1{
    font-size: 2em;
    color: #F8D146;
    font-weight: bold;
}
.content2{
    border-radius: 10px;
    text-align: right;
    margin-left: 10px;
    background-color: #F8D146;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content2 h1{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 2.9em;
    color: #1E1E1E;
    font-weight: bold;
}
.content2 h2{
    margin-right: 10px;
    font-size: 20px;
}
.time{
    font-family: "League Spartan";
    height: fit-content;
    border-radius: 10px;
}
.time h1{
    font-size: 5em;
    text-align: right;
    margin: 0;
}
.time h2{
    text-align: right;
}
.content3{
    display: flex;
    justify-content: right;
}
.content3 h1{
    font-size: 3em;
    font-family: "Roboto";
    margin: 5px;
}
.content3 p{
    font-weight: bold;
}
.table{
    /* border: solid; */
    width: 30%;
}
.table-1{
    border: none;
    background-color: #FFFF;
    /* margin: 10px; */
    border-radius: 10px;
    width: 100%;
}
.table-1 th,td,tr{
    padding: 10px;
    font-family: "League Spartan";
}
.table-1 th{
    text-align: left;
    color: #F8D146;
    font-size: 1em;
}
.table-1 tr{
    font-size: 1em;
}
.table-1 td{
    font-size: 1em;
}
.table-1 tr:nth-child(even) {
    background-color: rgb(241, 241, 241);
}
.basket{
    margin: 0;
    display: flex;
    /* border: solid; */
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    /* border: solid; */
    /* width: 100%; */
    height: fit-content;
    /* height: 40%; */
}
/* .basket2{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border: solid;
    width: 100%;
    height: fit-content;
    height: 40%;
} */
.attendance{
    width: 40%;
    /* border: solid; */
    height: 100%;
}
.pay-per-payday{
    border-radius: 10px;
    /* border: solid; */
    height: fit-content;
    width: 40%;
    height: 100%;
}

.table2 table {
    font-size: 12px;
    border: none;
    border-radius: 15px;
    width: 100%;
    background-color: white;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
}
.table2{
    /* border: solid; */
    margin: 10px;
}
.table2 th {
    font-family: 'League Spartan';
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 12.5px;
    border-bottom: 2px solid #cac5c5;
}
.table2 td {
    border-bottom: 1px solid #cac5c5;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    font-family: 'Inter';
}
.table2 tr:last-child td {
    border-bottom: none;
}
.table2 td:nth-child(odd) {
    background-color: white;
}

.table2 td:nth-child(even) {
    background-color: #ececec;
}
#donutchart {
    width: 400px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
}
#columnchart_values {
    width: 400px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
}



/* 
.table2{
    margin-left: 10px;
}
.table-2{
    border: none;
    background-color: #FFFF;
    margin: 10px;
    border-radius: 10px;
    width: 100%;
    float: right;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
.table2 th,td,tr{
    padding: 10px;
    font-family: "League Spartan";
    border-bottom: solid;
}
.table-2 th{
    text-align: left;
    color: #F8D146;
    font-size: 1em;
    border-bottom: solid #0000000F;
}
.table-2 tr{
    font-size: 1em;
}
.table-2 td{
    font-size: 1em;
}
.table-2 tr:nth-child(even) {
    background-color: rgb(241, 241, 241);
} */