#ttl_emp #content #amount,
#act_emp #content #amount{
    background: -webkit-linear-gradient(320deg, #F8D146, #F5B93F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#payroll-status #payroll-info{
    background: -webkit-linear-gradient(180deg, #F8D146 0%, #F5B93F 100%);
}

#processed-pending #processed{
    background: -webkit-linear-gradient(320deg, #F8D146, #F5B93F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#processed-pending #pending{
    color: #DC4646;
}


#history_table thead tr th, #history_table tbody tr td{
    
}

#history_table tbody tr{
    height: 87px;
    width: 100%;
}

#history_table tbody tr:last-child{
    height: 87px;
    width: 100%;
}

#history_table tbody tr:nth-child(odd) {
    background-color: #f1f1f1;
}

#history_table tbody tr:nth-child(even) {
    background-color: #fff;
}




#preview-table tbody tr:nth-child(odd) td{
    background-color: #f1f1f1 !important;
}

#preview-table tbody tr:nth-child(even) td{
    background-color: #fff !important;
}

#preview-table tbody tr{
    height: 55px;
    width: 100%;
}

#preview-table tbody tr td{
    
}


