#button{
    padding: 0 20px;

    border-radius: 30px;
    border: none;

    background-image: linear-gradient(to right, #F8D146 , #F5B93F); 
    
}

#button_1{
    padding: 0 20px;

    border-radius: 30px;
    border: none;

    background-image: linear-gradient(to right, #F8D146 , #F5B93F); 
    color: #1E1E1E;
}

#button_2{
    padding: 0 20px;

    border-radius: 30px;
    border: none;

    background-image: linear-gradient(to right, #1e1e1e , #1e1e1e); 
    color: #F8D146;
    
}

#confirm{
    padding: 0 20px;
    width: fit-content;

    border-radius: 50px;
    border: none;

    background-color: #7AB576;
    color: white;
}

#confirm:hover{
    cursor: pointer;
    scale: 1.05;
    transition: 0.5s;
}

#button:hover{
    cursor: pointer;
    scale: 1.05;
    transition: 0.5s;
    background-image: linear-gradient(to right, #1e1e1e , #1e1e1e);
    color: #F8D146;
}

#button_1:hover, #button_2:hover{
    cursor: pointer;
    scale: 1.05;
    transition: 0.5s;
}


#cancel,
input[type=button]{
    padding: 0 20px;

    border-radius: 30px;
    border: none;

    background-image: linear-gradient(to right, #DC4646 , #DC4646); 
    color: white;
    
}

#cancel:hover,
input[type=button]:hover{
    cursor: pointer;
    scale: 1.05;
    transition: 0.2s;
    color: white;
}

#field,
.field{
    height: 40px;
    margin: 2px;
    padding: 0 15px;
    border: none;

    background-color: rgba(111, 81, 21, 0.10);
    border-radius: 10px;
}

.field:focus {
    outline: none;
    box-shadow: 0 0 0 2px #F8D146; /* Tailwind's yellow-400 */
}

input[type=text], input[type=email], input[type=password], input[type=tel], input[type=number]{
    height: 50px;
    margin: 8px 0;
    padding: 2px 15px;
    border: none;

    font-family: 'Inter';
    font-size: 1rem;

    background-color: #fff;
    border-radius: 20px;
}

textarea{
    margin: 8px 0;
    padding: 10px 15px;
    border: none;

    font-family: 'Inter';
    font-size: 1rem;

    background-color: #fff;
    min-height: 150px;
    border-radius: 20px;
    resize: none
}

input[type=date]{
    height: 50px;
    margin: 8px 0;
    padding: 2px 15px;
    border: none;

    font-family: 'Inter';
    font-size: 1rem;

    background-color: #fff;
    border-radius: 20px;
    resize: none
}

select{
    height: 50px;
    margin: 8px 0;
    padding: 2px 15px;
    border: none;

    background-color: #fff;
    border-radius: 20px;
}