#button,
input[type=submit]{
    padding: 0 20px;
    width: fit-content;

    font-family: 'League Spartan';
    font-weight: bold;
    font-size: 1rem;
    text-align: center;

    border-radius: 30px;
    border: none;

    background-image: linear-gradient(to right, #F8D146 , #F5B93F); 
    
}

#button:hover,
input[type=submit]:hover{
    cursor: pointer;
    scale: 1.05;
    transition: 0.5s;
    background-image: linear-gradient(to right, #1e1e1e , #1e1e1e);
    color: #F8D146;
}


#cancel,
input[type=button]{
    padding: 0 20px;
    width: fit-content;

    font-family: 'League Spartan';
    font-weight: bold;
    font-size: 1rem;
    text-align: center;

    border-radius: 30px;
    border: none;

    background-image: linear-gradient(to right, #DC4646 , #DC4646); 
    color: white;
    
}

#cancel:hover,
input[type=button]:hover{
    cursor: pointer;
    scale: 1.05;
    transition: 0.2s;
    background-image: linear-gradient(to right, #1e1e1e , #1e1e1e);
    color: white;
}

.field{
    height: 40px;
    margin: 2px;
    padding: 0 15px;
    border: none;

    font-family: 'Inter';
    font-size: 1rem;

    background-color: rgba(111, 81, 21, 0.10);
    border-radius: 10px;
}

.field:focus {
    outline: none;
    box-shadow: 0 0 0 2px #F8D146; /* Tailwind's yellow-400 */
  }