
.profile{
    width: 100%;

    background-color: #fff;
    border-radius: 30px;
}

.profile .top{
    display: flex;
}

.profile .top .employee_pic{
    margin: 20px 15px 20px 25px;
}

.profile .top .employee_pic img{
    border-radius: 15px;
    height: 125px;
    width: 125px;
}

.profile .top .employee_info1{
    width: 100%;
    margin: 30px 30px 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.profile .top .employee_info1 .employee_name{
    margin: 5px 10px;
}

.profile .top .employee_info1 .employee_name h1{
    font-family: 'League Spartan';
    font-size: 2.5rem;
    margin: 0;
}

.profile .top .employee_info1 .employee_name h1 span{
    font-size: 2rem;
    margin: 0;
    color: rgba(30, 30, 30, 0.40);
}

.profile .top .employee_info1 .line{
    display: flex;
    gap: 1%;
    margin: 10px 0 0 5px;
}

.profile .top .employee_info1 .line .details{
    font-family: 'League Spartan';
    font-size: .8rem;
    font-weight: 800;
    color: rgba(30, 30, 30, 0.20);
}

.profile .top .employee_info1 .line .hr1{
    border-top: 2px solid rgba(30, 30, 30, 0.20);
    width: 100%;
    margin-top: 5px;
}

.profile .bottom{
    margin: 0 30px;
    display: flex;
    flex-direction: column;
}


.profile .bottom .employee_info2{
    display: flex;
    gap: 10%;
    margin: 5px 20px 15px;
}

.profile .bottom .employee_info2 .info_content1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

.profile .bottom .employee_info2 .info_content2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.info_content1 .gender,
.info_content1 .date_of_birth,
.info_content1 .contact_number,
.info_content1 .emergency_contact,
.info_content2 .barangay,
.info_content2 .postal_address,
.info_content2 .education{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info_content1 .gender h1,
.info_content1 .date_of_birth h1,
.info_content1 .contact_number h1,
.info_content1 .emergency_contact h1,
.info_content2 .barangay h1,
.info_content2 .postal_address h1,
.info_content2 .education h1{
    margin: 0;
    font-size: .9rem;
    font-family: 'League Spartan';
    font-weight: 800;
    color: rgba(30, 30, 30, 0.40);
}

.info_content1 .gender,
.info_content1 .date_of_birth,
.info_content1 .contact_number,
.info_content1 .emergency_contact,
.info_content2 .barangay,
.info_content2 .postal_address,
.info_content2 .education{
    margin: 0;
    font-size: 1rem;
    font-family: 'Inter';
    font-weight: 500;
}

.profile .hr2{
    border-top: 2px solid rgba(30, 30, 30, 0.20);
    width: 100%;
    margin: 10px;
}

.profile .bottom .employee_info3{
    gap: 10%;
    display: flex;
    margin: 15px 20px 25px;
}

.profile .bottom .employee_info3 .info_content1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

.profile .bottom .employee_info3 .info_content2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.info_content1 .work_experience,
.info_content2 .date_of_employment,
.info_content2 .employee_status{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info_content1 .work_experience h1,
.info_content2 .date_of_employment h1,
.info_content2 .employee_status h1{
    margin: 0;
    font-size: .9rem;
    font-family: 'League Spartan';
    font-weight: 800;
    color: rgba(30, 30, 30, 0.40)
}

.info_content1 .work_experience,
.info_content2 .date_of_employment,
.info_content2 .employee_status{
    margin: 0;
    font-size: 1rem;
    font-family: 'Inter';
    font-weight: 500;
}

.content .employee_state{
    display: flex;
    justify-content: space-between;
    margin: 5px 0 20px;
}

.content .employee_state .left{
    position: relative;
    width: 25%;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.left .statistic_1,
.left .statistic_2,
.left .statistic_3,
.left .statistic_4{
    background-color: #fff;
    height: fit-content;

    border-left: 10px solid #F8D146;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
    display: flex;
    align-items: center;
    overflow: hidden;
}


.left .statistic_1 .img,
.left .statistic_2 .img,
.left .statistic_3 .img,
.left .statistic_4 .img{
    margin: 15px;
}

.left .statistic_1 .img img,
.left .statistic_2 .img img,
.left .statistic_3 .img img,
.left .statistic_4 .img img{
    width: 40px;
    height: 40px;
}

.left .statistic_1 .text,
.left .statistic_2 .text,
.left .statistic_3 .text,
.left .statistic_4 .text{

}

.left .statistic_1 .text h2,
.left .statistic_2 .text h2,
.left .statistic_3 .text h2,
.left .statistic_4 .text h2{
    margin: 2.5px 0;
    font-family: 'League Spartan';
    font-size: 1.3rem;
}

.left .statistic_1 .text p,
.left .statistic_2 .text p,
.left .statistic_3 .text p,
.left .statistic_4 .text p{
    margin: 2.5px 0;
    font-family: 'Inter';
    font-size: 1.15rem;
}

.left .statistic_1 .text h2,
.left .statistic_2 .text h2,
.left .statistic_3 .text h2,
.left .statistic_4 .text h2{
    background: -webkit-linear-gradient(#F8D146, #F5B93F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.left .statistic_1 .text p,
.left .statistic_2 .text p,
.left .statistic_3 .text p,
.left .statistic_4 .text p{
    margin: 2.5px 0;
    font-family: 'Inter';
    font-size: 1.15rem;
}

.content .employee_state .right{
    position: relative;
    width: 73%;
    height: 100%;

}

/* 
.right .table{
    width: 100%;
}

.right .table table{
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    border-collapse: collapse;
    overflow: hidden;
}

.right .table table tr{
    border-bottom: 2px solid rgba(30, 30, 30, 0.20);
}

.right .table table tr:last-child{
    border: none;

}

.right .table table tr th{
    padding: 12px 0 10px;
    
    font-family: 'League Spartan';
    font-size: 1rem;
    font-weight: 800;
}

.right .table table tr td{
    padding: 15px;

    font-family: 'Inter';
    font-size: 1rem;
    text-align: center;
}

.right .table table tr th,
.right .table table tr td{
    border-right: 2px solid rgba(30, 30, 30, 0.20);
}

.right .table table tr th:last-child,
.right .table table tr td:last-child{
    border: none;
}

.right .table table tr:nth-child(even){
    background-color: #f2f2f2;
}

.right .table table tr th:last-child{
    border-top-right-radius: 20px;
}

.right .table table tr th:first-child{
    border-top-left-radius: 20px;
}

.right .table table tr th:first-child{
    border-top-left-radius: 20px;
} */


.content .pagination{
    margin: 15px 0;
    display: flex;
    justify-content: end;
}

.content .pagination p{
    margin: 0;
    font-family: 'Inter';
    font-size: 1.25rem;
    
}
