

.employee_picture .webcam-container{
    width: 100%;
    margin: 8px;
    display: flex;
    gap: 10px;
}

.employee_picture .webcam-container #video{
    border-radius: 20px;
}

.employee_picture .webcam-container #capturedImage{
    margin: 0;
    width: 50%;
    height: 100%;

    border-radius: 20px;
}


.field .button{
    display: flex;
    justify-content: space-between;
    gap: 5%;
    margin: 15px 8px;
}

.field .button #captureButton{
    border: none;
    border-radius: 100px;
    width: 100%;
    padding: 10px 20px;

    font-family: 'Roboto';
    font-size: 1.3rem;
    font-weight: 700;
    text-align: start;
    background-color: #1e1e1e;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.field .button #captureButton p{
    margin: 0;
}

.field .button #captureButton img{
    width: 30px;
    height: 30px;
}


.logos{
    display: flex;
    justify-content: space-between;
}

.logos .logo_container{
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 40px;
    gap: 10px;
}

.logos .logo_container .logo_name{
    margin: 0;
    font-family: 'League Spartan';
    font-size: 1.25rem;
    font-weight: 900;
}

.logos .client_logo{
    max-width: 200px;
    max-height: 200px;
    filter: drop-shadow(2px 2px 0 #222);
}

@media screen and (max-width: 1920px){}