.body{
    height: 100%;
}
.container{
    position: absolute;
    height: 100%;
    width: 85%;

    margin: 80px 0 0 12%; 
    padding: 0 20px 0 20px; 
    z-index: 8;
}

.top{
    width: 100%;
    height: 42px;   
    
    display: flex;
    justify-content: space-between;

}

.top .container_1{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top .container_1 .employee_status{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #fff;
    border-radius: 50px;
    overflow: hidden;
}

.top .container_1 .employee_status .all,
.top .container_1 .employee_status .full-time,
.top .container_1 .employee_status .part-time{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top .container_1 .employee_status .all button,
.top .container_1 .employee_status .full-time button,
.top .container_1 .employee_status .part-time button{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
}

.top .container_1 .employee_status .all button p,
.top .container_1 .employee_status .full-time button p,
.top .container_1 .employee_status .part-time button p{
    margin: 0;
    padding: 2px 0 0;
    font-size: 1rem;
    font-family: 'League Spartan';
    font-weight: 700;
}

.top .container_1 .employee_status .all{
    border-right: 1px solid #1e1e1e;
}

.top .container_1 .employee_status .full-time{
    border-right: 1px solid #1e1e1e;
    border-left: 1px solid #1e1e1e;
}

.top .container_1 .employee_status .part-time{
    border-left: 1px solid #1e1e1e;
}

.top .container_1 .employee_status .all button:hover,
.top .container_1 .employee_status .full-time button:hover,
.top .container_1 .employee_status .part-time button:hover{
    color: #fff;
    background-color: #F8D146;
    transition: 0.25s;
    cursor: pointer;
}


.top .container_2{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top .container_2 .search_filter{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #fff;
    border-radius: 50px;
    overflow: hidden;
}

.top .container_2 .search_filter .search,
.top .container_2 .search_filter .filter,
.top .container_2 .search_filter .sort{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.top .container_2 .search_filter .search{
    width: 70%;
    border-right: 1px solid #1e1e1e;
}

.top .container_2 .search_filter .search form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top .container_2 .search_filter .search form button{
    width: 10%;
    height: 100%;
    padding-left: 15px;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top .container_2 .search_filter .search button img{
    height: 25px;
    width: 25px;
}

.top .container_2 .search_filter .search form input[type=text]{
    width: 100%;
    height: 100%;
    border: none;
}

.top .container_2 .search_filter .search form input[type=text]:focus{
    outline: none;
}

.top .container_2 .search_filter .search form input[type=text]::placeholder{
    font-family: 'League Spartan';
    font-size: 1rem;
    font-weight: 600;
}

.top .container_2 .search_filter .filter{
    width: 15%;
    border-right: 1px solid #1e1e1e;
    border-left: 1px solid #1e1e1e;
}


.top .container_2 .search_filter .filter button p{
    margin: 0;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 600;
}

.top .container_2 .search_filter .sort{
    width: 15%;
    border-left: 1px solid #1e1e1e;

}

.top .container_2 .search_filter .sort button p{
    margin: 0;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 600;
}

.top .container_2 .search_filter .sort button,
.top .container_2 .search_filter .filter button{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
}

.top .container_2 .search_filter .filter button:hover,
.top .container_2 .search_filter .sort button:hover{
    color: #F8D146;
    transition: 0.25s;
}


.table{
    margin: 12px 0;
}


table {
    font-size: 12px;
    border: none;
    border-radius: 15px;
    width: 100%;
    background-color: #fff;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
}
th {
    font-family: 'League Spartan';
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 15px 12.5px 12.5px;
    border-bottom: 3px solid rgba(30, 30, 30, 0.20);
}
td {
    border-bottom: 2px solid rgba(30, 30, 30, 0.20);
    padding: 15px;
    text-align: center;
    font-size: 14px;
    font-family: 'Inter';
}

td a{
    text-decoration: none;
    font-weight: 600;
    color: #1e1e1e;
}

td a:hover{
    color: #F8D146;
    transition: 0.2s;
}

tr:last-child td {
    border-bottom: none;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a{
    text-decoration: none;
}

.button{
    padding: 10px 0;
    width: 100%;

    display: flex;
    justify-content: end;
}


.addemployeebutton{
    width: fit-content;
    padding: 10px 30px;

    font-family: 'League Spartan';
    font-weight: bold;
    font-size: 1rem;
    text-align: center;

    border-radius: 30px;
    border: none;

    background-image: linear-gradient(to right, #F8D146 , #F5B93F); 
    
}

.addemployeebutton:hover{
    cursor: pointer;
    scale: 1.05;
    transition: 0.5s;
    background-image: linear-gradient(to right, #1e1e1e , #1e1e1e);
    color: #F8D146;
}
