#button{
    padding: 0 20px;
    width: fit-content;

    border-radius: 30px;
    border: none;

    background-image: linear-gradient(to right, #1e1e1e , #1e1e1e); 
    color: #F8D146;
    
}

#button:hover{
    cursor: pointer;
    scale: 1.05;
    transition: 0.5s;
}

.dt-layout-row{
    margin: 0 !important;
}

/*pop up*/

.background_add.show,
.background_edit.show,
.add_attendance.show,
.edit_attendance.show {
    visibility: visible;
    opacity: 1;
}

tbody tr td{
    padding: 8px;
    text-align: center;
    border-bottom: 2px solid rgba(30, 30, 30, 0.20) !important;
}

input[type=button]{
    padding: 0 20px;
    width: fit-content;

    border-radius: 30px;
    border: none;

    background-image: linear-gradient(to right, #DC4646 , #DC4646); 
    color: white;
    
}

input[type=button]:hover{
    cursor: pointer;
    scale: 1.05;
    transition: 0.2s;
    background-image: linear-gradient(to right, #1e1e1e , #1e1e1e);
    color: white;
}

input[type=submit]{
    padding: 0 20px;
    width: fit-content;

    border-radius: 30px;
    border: none;

    background-image: linear-gradient(to right, #F8D146 , #F5B93F); 
    
}

input[type=submit]:hover{
    cursor: pointer;
    scale: 1.05;
    transition: 0.5s;
    background-image: linear-gradient(to right, #1e1e1e , #1e1e1e);
    color: #F8D146;
}

/* Cursor pointer for edit links */
.edit-link {
    cursor: pointer;
    color: #1e1e1e;
    text-decoration: underline;
}

.edit-link:hover {
    color: #F8D146;
}

#title{
    background: -webkit-linear-gradient(#F8D146, #F5B93F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}