#title,
#percentage{
    background: -webkit-linear-gradient(#F8D146, #F5B93F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#processed{
    background: -webkit-linear-gradient(#F8D146, #F5B93F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#pending{
    color: #DC4646;
}

#paydate{
    background: -webkit-linear-gradient(#F8D146, #F5B93F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*pop up*/

.background.show,
.popup.show {
    visibility: visible;
    opacity: 1;
}

.edit_incentives_popup h1{
    margin: 0;
    font-family: 'League Spartan';
    font-size: 2rem;
    font-weight: 500;

    background: linear-gradient(90deg, #F8D146 0%, #F5B93F 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}