
tr{
    border-bottom: 2px solid rgba(30, 30, 30, 0.20);
}

tr:first-child{
    border-bottom: 3px solid rgba(30, 30, 30, 0.20);
}

tr td:nth-child(odd){
    background-color: #f2f2f2;
}

tr:last-child{
    border-bottom: none;
}

tr td{
    padding: 5px 10px;
    text-align: center;
    border-right: 2px solid rgba(30, 30, 30, 0.20);
}

tr td:last-child{
    border-right: none;
}


tr td input[type=number],
tr td input[type=text],
input[type=date]{
    height: 100%;
    width: 80%;
    background: none;
    outline: none;
    padding: 20px 0;

    font-family: 'Inter';
    font-size: 1rem;
    border: none;
}

tr td select{
    height: 100%;
    width: 80%;
    background: none;
    padding: 20px 0;

    font-family: 'Inter';
    font-size: 1rem;
    border: none;

    -webkit-appearance: none;
}

tr td select:focus,
tr td input[type=number]:focus,
tr td input[type=text]:focus{
    outline: none;
}


tr td #save{
    height: 40px;
    width: 40px;
    padding: 20px 0;

    background-image: url('../images/save_icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

tr td #save:hover{
    transition: 0.3s;
    cursor: pointer;
    background-image: url('../images/save_icon_hover.png');
}

tr td #cancel{
    height: 40px;
    width: 40px;
    padding: 20px 0;

    background-image: url('../images/cancel_icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

tr td #cancel:hover{
    transition: 0.3s;
    cursor: pointer;
    background-image: url('../images/cancecl_icon_hover.png');
}

tr td select#payroll_status{
    height: 100%;
    width: 80%;
    background: none;
    padding: 20px 0;

    font-family: 'Inter';
    font-size: 1rem;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    -webkit-appearance: none;
}