.body{
    height: 100%;
}
.container{
    position: absolute;
    height: 100%;
    width: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 80px 0 0 12%;
    padding: 0 20px 0 20px; 
    z-index: 8;
}


/* SUMMARY TABLE CSS */

.tableheader {
    font-family: 'League Spartan';
    font-size: 23px;
    font-weight: bold;
}

table {
    
    font-size: 12px;
    border: none;
    border-radius: 15px;
    width: 100%;
    background-color: white;
    text-align: center;
    justify-content: center;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;

}

th {
    font-family: 'League Spartan';
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding: 12.5px;
    border-bottom: 2px solid #cac5c5;
    border-inline: 1px solid #cac5c5;
    writing-mode: horizontal-tb;
}
td {
    font-family: 'Inter';
    border-bottom: 1px solid #cac5c5;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    border-inline: 1px solid #cac5c5;
    writing-mode: horizontal-tb;
}

th:first-child, td:first-child, th:last-child, td:last-child {
    border-left: none;
    border-right: none;
}
tr:first-child th {
    border-top: none;
}
tr:last-child td {
    border-bottom: none;
}


td:nth-child(odd) {
    background-color: white;
}

td:nth-child(even) {
    background-color: #ececec;
}

