.body{
    height: 100%;
}
span{
    height: 27px;
    width: 1px;
    background-color: #000000;
    border-radius: 50px;
    margin: 0 12px;
}
.vl {
  border-left: 6px solid green;
  height: 10px;
}

.span1{
    height: 50%;
    width: 0.5px;
    background-color: #000000;
    border-radius: 50px;
    margin: 0 18px;
}
strong, bdi{
    display: none;
}
p, a{
    
}