.dt-length{
    display: none;
}
.dt-search {
    display: none;
}

table.dataTable th.dt-type-numeric,
table.dataTable td.dt-type-numeric{
    text-align: left !important;
}

tbody tr:nth-child(odd),
.dt-empty,
#employee-data:nth-child(odd),
#payroll-data:nth-child(odd),
#customer-data:nth-child(odd),
#attendance-data:nth-child(odd),
#vehicle-data:nth-child(odd){
    background-color: #f2f2f2 !important;
}

.dt-empty,
#employee-data td,
#payroll-data td,
#customer-data td,
#attendance-data td,
#vehicle-data td{
    border-bottom: 2px solid rgba(30, 30, 30, 0.20) !important;
}


tbody tr:last-child td,
.dt-empty,
#employee-data:last-child td,
#payroll-data:last-child td,
#customer-data:last-child td,
#attendance-data:last-child td,
#vehicle-data:last-child td{
    border-bottom:none !important;
}

table,
#employee-table_info,
#payroll-table_info,
#customer-table_info,
#attendance-table_info,
#vehicle-table_info{
    font-family: 'League Spartan';
}