{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block headcontent %}

{% endblock %}


{% block header %}ABOUT US{% endblock %} 


{% block content %}
<div class="text-justify font-[Roboto] text-lg">
    <p>At Toto's Car Tinting Shop, we specialize in high-quality window tinting solutions for vehicles, homes, and businesses.
        With years of experience in the industry, our expert team is dedicated to enhancing your comfort, privacy, and style with premium-grade tinting films.</p>
    <p>We take pride in our precision, attention to detail, and commitment to customer satisfaction.
        Whether you're looking to improve your car’s aesthetics, reduce heat and glare, or add an extra layer of security to your property, we have the perfect tinting solution for you.</p>
    <p>Our mission is to provide top-tier service with the latest technology and best materials, ensuring long-lasting results that exceed expectations.</p>
</div>
{% endblock %}


{% block script %}

{% endblock %}
