{% extends 'base.html' %}
{% load static %}

<!--title-->
{% block title %}Status{% endblock %}

<!--(optional)head content-->
{% block headcontent %}
<link rel="stylesheet" href="{% static 'css/status.css' %}">
{% endblock %}

<!--header-->
{% block header %}STATUS{% endblock %} 

<!--page content-->
{% block content %}
    <div>
        <form action="" method="post">
        {% csrf_token %}
        <div class="fields_1">
            <div class="field">
                <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                {{ form.username }}
            </div>
            <div class="field">
                <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                {{ form.first_name }}
            </div>
            <div class="field">
                <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                {{ form.last_name }}
            </div>
            <div class="field">
                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                {{ form.email }}
            </div>
            <div class="field">
                <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                {{ form.password }}
            </div>
            
        </div>
        

        <button class="mt-2 bg-black text-[#F8D146] p-2 w-full cursor-pointer rounded-sm
        hover:bg-[#F8D146] hover:text-black transition duration-200">
        Update Profile
        </button>
    </form>
    </div>
    
    {% endblock %}

    <!--(optional)script-->
    {% block script %}
    
    {% endblock %}

{{ redirect_to_login_immediately }}

