{% extends 'base.html' %}
{% load static %}

<!--title-->
{% block title %}Change Password{% endblock %}

<!--(optional)head content-->
{% block headcontent %}
<!-- <link rel="stylesheet" href="{% static 'css/settings.css' %}"> -->
{% endblock %}

<!--header-->
{% block header %}SETTINGS{% endblock %} 

<!--page content-->
{% block content %}
    <form action="" method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <button class="mt-2 bg-black text-[#F8D146] p-2 w-full cursor-pointer rounded-sm
        hover:bg-[#F8D146] hover:text-black transition duration-200">
    Change Password
</button>
    </form>

    {% endblock %}
{{ redirect_to_login_immediately }}
