{% extends 'base.html' %}
{% load static %}

<!--title-->
{% block title %}Customers{% endblock %}

<!--(optional)head content-->
{% block headcontent %}
<!-- <link rel="stylesheet" href="{% static 'css/settings.css' %}"> -->
{% endblock %}

<!--header-->
{% block header %}CUSTOMERS{% endblock %} 

<!--page content-->
{% block content %}

    <div class="bg-white rounded-xl pl-10 pb-5 pt-5 mb-10">
        <div class="flex justify-between">
            <h1 class="font-bold text-2xl">{{ customer.first_name}} {{ customer.middle_name}} {{ customer.last_name}}</h1>
            <a href="{% url 'payroll_system:customer_edit' customer.customer_id %}"><button class="mr-10 p-2 cursor-pointer bg-black text-[#F8D146] rounded-2xl font-bold
            hover:bg-[#F8D146] hover:text-black duration-200 hover:scale-105">Edit Employee</button></a>
        </div>
        <p class="opacity-50">DETAILS</p><hr class="mb-5 opacity-50 size-[97%]">
        <h1 class="opacity-50 font-bold">Brgy. {{ customer.barangay}}, {{ customer.city}}, {{ customer.province}}</h1>
        <h1 class="mb-5">EXAMPLE</h1>
        <h1 class="opacity-50 font-bold">{{ customer.contact_number }}</h1>
        <h1>EXAMPLE</h1>
    </div>
    {% for vehicle in customer.vehicles.all %}
        <h1 class="mb-2 ml-2 font-bold text-xs">VEHICLES</h1>
        <div class="bg-white rounded-xl p-4">
            <h1 class="font-bold text-2xl ml-5 mb-5 text-2xl">{{ vehicle.plate_number }}</h1>
            <div class="ml-10">
            <h1 class="opacity-50 font-bold">{{ vehicle.vehicle_name}}</h1>
            <h1 class="mb-5">EXAMPLE</h1>
            <h1 class="opacity-50 font-bold">{{ vehicle.vehicle_color}}</h1>
            <h1 class="">EXAMPLE</h1>
        </div>
    {% endfor %}



{% endblock %}