{% extends 'base.html' %}
{% load static %}

<!--title-->
{% block title %}Edit Customer{% endblock %}

<!--(optional)head content-->
{% block headcontent %}
<link rel="stylesheet" href="{% static 'css/default_design.css' %}">
{% endblock %}

<!--header-->
{% block header %}CUSTOMERS{% endblock %} 

<!--page content-->
{% block content %}
<div class="my-4 mx-5 font-[League Spartan] text-3xl/10 font-bold">
    <p id="title" class="text-[#1E1E1E] px-2">Edit Customer!</p>
</div>
<form class="grid grid-row-[1fr_1fr] md:grid-row-1 md:grid-cols-[1fr_1fr] gap-5" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="order-1">
        <div class="flex flex-col">
            <div class="">
                <label for="first-name" class="mx-[20px] font-[Inter] text-xs md:text-[14px] font-semibold text-[#1E1E1E]">First Name</label>
                {% if form.first_name.errors %}
                    <div class="text-[#e74c3c] text-[9px] md:text-xs font-bold inline-block">{{ form.first_name.errors.0 }}</div>
                {% endif %}
            </div>
            {{ form.first_name }}
        </div>
        <div class="flex flex-col">
            <div class="">
                <label class="mx-[20px] font-[Inter] text-xs md:text-[14px] font-semibold text-[#1E1E1E]" for="middle-name">Middle Name</label>
                {% if form.middle_name.errors %}
                    <div class="text-[#e74c3c] text-[9px] md:text-xs font-bold inline-block">{{ form.middle_name.errors.0 }}</div>
                {% endif %}
            </div>
            {{ form.middle_name }}
        </div>
        <div class="flex flex-col">
            <div class="">
                <label class="mx-[20px] font-[Inter] text-xs md:text-[14px] font-semibold text-[#1E1E1E]" for="last-name">Last Name</label>
                {% if form.last_name.errors %}
                    <div class="text-[#e74c3c] text-[9px] md:text-xs font-bold inline-block">{{ form.last_name.errors.0 }}</div>
                {% endif %}
            </div>
            {{ form.last_name }}
        </div>
        <div class="flex flex-col">
            <div class="">
                <label class="mx-[20px] font-[Inter] text-xs md:text-[14px] font-semibold text-[#1E1E1E]" for="contact-number">Contact Number</label>
                {% if form.contact_number.errors %}
                    <div class="text-[#e74c3c] text-[9px] md:text-xs font-bold inline-block">{{ form.contact_number.errors.0 }}</div>
                {% endif %}
            </div>
            {{ form.contact_number }}
        </div>
    </div>

    <div class="order-2">
        <div class="flex flex-col">
            <div class="">
                <label class="mx-[20px] font-[Inter] text-xs md:text-[14px] font-semibold text-[#1E1E1E]" for="{{ form.region.id_for_label }}">Region</label>
                {% if form.region.errors %}
                    <div class="text-[#e74c3c] text-[9px] md:text-xs font-bold inline-block">{{ form.region.errors.0 }}</div>
                {% endif %}
            </div>
            {{ form.region }}
            <datalist id="region-list">
                {% for region in regions %}
                    <option value="{{ region.regDesc }}">
                {% endfor %}
            </datalist>
        </div>
        <div class="flex flex-col">
            <div class="">
                <label class="mx-[20px] font-[Inter] text-xs md:text-[14px] font-semibold text-[#1E1E1E]" for="province">Province</label>
                {% if form.province.errors %}
                    <div class="text-[#e74c3c] text-[9px] md:text-xs font-bold inline-block">{{ form.province.errors.0 }}</div>
                {% endif %}
            </div>
            {{ form.province }}
            <datalist id="province-list">
                {% for province in provinces %}
                    <option value="{{ province.provDesc }}">
                {% endfor %}
            </datalist>
        </div>
        <div class="flex flex-col">
            <div class="">
                <label class="mx-[20px] font-[Inter] text-xs md:text-[14px] font-semibold text-[#1E1E1E]" for="city">City/Municipality</label>
                {% if form.city.errors %}
                    <div class="text-[#e74c3c] text-[9px] md:text-xs font-bold inline-block">{{ form.city.errors.0 }}</div>
                {% endif %}
            </div>
            {{ form.city }}
            <datalist id="city-list">
                {% for city in cities %}
                    <option value="{{ city.citymunDesc }}">
                {% endfor %}
            </datalist>
        </div>
        <div class="flex flex-col">
            <div class="">
                <label class="mx-[20px] font-[Inter] text-xs md:text-[14px] font-semibold text-[#1E1E1E]" for="barangay">Barangay</label>
                {% if form.barangay.errors %}
                    <div class="text-[#e74c3c] text-[9px] md:text-xs font-bold inline-block">{{ form.barangay.errors.0 }}</div>
                {% endif %}
            </div>
            {{ form.barangay }}
            <datalist id="barangay-list">
                {% for barangay in barangays %}
                    <option value="{{ barangay.brgyDesc }}">
                {% endfor %}
            </datalist>
        </div>
    </div>

    <div class="order-3 col-span-2 h-[40px] flex justify-end">
        <button type="submit" id="button" class="text-xs/3 lg:text-sm/4 font-bold text-[League Spartan] h-full text-center">
            UPDATE CUSTOMER
        </button>
    </div>
</form>
{% endblock %}
{% block script %}
<script src="{% static 'javascript/phLocations.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        initializeAddressFields({
            regionInputId: "region-dropdown",
            provinceInputId: "province-dropdown",
            cityInputId: "city-dropdown",
            barangayInputId: "barangay-dropdown",
            regionListId: "region-list",
            provinceListId: "province-list",
            cityListId: "city-list",
            barangayListId: "barangay-list",
            baseUrl: "/payroll_system/ajax"
        });
    });
</script>
{% endblock%}