{% extends 'base.html' %}
{% load static %}

<!--title-->
{% block title %}Edit Employee{% endblock %}

<!--(optional)head content-->
{% block headcontent %}
<link rel="stylesheet" href="{% static 'css/default_design.css' %}">
{% endblock %}

<!--header-->
{% block header %}EMPLOYEES{% endblock %} 

<!--page content-->
{% block outsidecontent %}

{% endblock %}

{% block content %}
<div class="size-full">
    <div class="my-4 mx-5 font-[League Spartan] text-3xl/10 font-bold">
        <p id="title" class="text-[#1E1E1E] px-2">Edit Employee!</p>
    </div>
    
    <div class="px-5">
        <form class="grid grid-row-[1fr_1fr] md:grid-row-1 md:grid-cols-[40%_40%] md:gap-10" method="POST">
            {% csrf_token %}
        
            <div class="order-1">
                <div class="flex flex-col my-1">
                    <div class="">
                        <label for="first-name" class="mx-[20px] font-[Inter] text-xs md:text-[14px] font-semibold text-[#1E1E1E]">First Name</label>
                        {% if form.first_name.errors %}
                            <div class="text-[#e74c3c] text-[9px] md:text-xs font-bold inline-block">{{ form.first_name.errors.0 }}</div>
                        {% endif %}
                    </div>
                    
                    <input value="Employee Details" type="text">
                    {{ form.first_name }}
                </div>
                <div class="flex flex-col my-1">
                    <div class="">
                        <label class="mx-[20px] font-[Inter] text-xs md:text-[14px] font-semibold text-[#1E1E1E]" for="middle-name">Middle Name</label>
                        {% if form.middle_name.errors %}
                            <div class="text-[#e74c3c] text-[9px] md:text-xs font-bold inline-block">{{ form.middle_name.errors.0 }}</div>
                        {% endif %}
                    </div>

                    <input value="Employee Details" type="text">
                    {{ form.middle_name }}
                </div>
                <div class="flex flex-col my-1">
                    <div class="">
                        <label class="mx-[20px] font-[Inter] text-xs md:text-[14px] font-semibold text-[#1E1E1E]" for="last-name">Last Name</label>
                        {% if form.last_name.errors %}
                            <div class="text-[#e74c3c] text-[9px] md:text-xs font-bold inline-block">{{ form.last_name.errors.0 }}</div>
                        {% endif %}
                    </div>

                    <input value="Employee Details" type="text">
                    {{ form.last_name }}
                </div>
                <div class="flex flex-col my-1">
                    <div class="">
                        <label class="mx-[20px] font-[Inter] text-xs md:text-[14px] font-semibold text-[#1E1E1E]" for="gender">Gender</label>
                        {% if form.gender.errors %}
                            <div class="text-[#e74c3c] text-[9px] md:text-xs font-bold inline-block">{{ form.gender.errors.0 }}</div>
                        {% endif %}
                    </div>

                    <input value="Employee Details" type="text">
                    {{ form.gender }}
                </div>
                <div class="flex flex-col my-1">
                    <div class="">
                        <label class="mx-[20px] font-[Inter] text-xs md:text-[14px] font-semibold text-[#1E1E1E]" for="date-of-birth">Birth Date</label>
                        {% if form.date_of_birth.errors %}
                            <div class="text-[#e74c3c] text-[9px] md:text-xs font-bold inline-block">{{ form.date_of_birth.errors.0 }}</div>
                        {% endif %}
                    </div>

                    <input value="Employee Details" type="text">
                    {{ form.date_of_birth }}
                </div>
                <div class="flex flex-col my-1">
                    <div class="">
                        <label class="mx-[20px] font-[Inter] text-xs md:text-[14px] font-semibold text-[#1E1E1E]" for="contact-number">Contact Number</label>
                        {% if form.contact_number.errors %}
                            <div class="text-[#e74c3c] text-[9px] md:text-xs font-bold inline-block">{{ form.contact_number.errors.0 }}</div>
                        {% endif %}
                    </div>
                    
                    <input value="Employee Details" type="text">
                    {{ form.contact_number }}
                </div>
                <div class="flex flex-col my-1">
                    <div class="">
                        <label class="mx-[20px] font-[Inter] text-xs md:text-[14px] font-semibold text-[#1E1E1E]" for="emergency-contact">Emergency Contact</label>
                        {% if form.emergency_contact.errors %}
                            <div class="text-[#e74c3c] text-[9px] md:text-xs font-bold inline-block">{{ form.emergency_contact.errors.0 }}</div>
                        {% endif %}
                    </div>

                    <input value="Employee Details" type="text">
                    {{ form.emergency_contact }}
                </div>
                <div class="flex flex-col my-1">
                    <div class="">
                        <label class="mx-[20px] font-[Inter] text-xs md:text-[14px] font-semibold text-[#1E1E1E]" for="{{ form.region.id_for_label }}">Region</label>
                        {% if form.region.errors %}
                            <div class="text-[#e74c3c] text-[9px] md:text-xs font-bold inline-block">{{ form.region.errors.0 }}</div>
                        {% endif %}
                    </div>

                    <input value="Employee Details" type="text">
                    {{ form.region }}
                    <datalist id="region-list">
                        {% for region in regions %}
                            <option value="{{ region.regDesc }}" data-code="{{ region.regCode }}">
                        {% endfor %}
                    </datalist>
                </div>
                <div class="flex flex-col my-1">
                    <div class="">
                        <label class="mx-[20px] font-[Inter] text-xs md:text-[14px] font-semibold text-[#1E1E1E]" for="{{ form.province.id_for_label }}">Province</label>
                        {% if form.province.errors %}
                            <div class="text-[#e74c3c] text-[9px] md:text-xs font-bold inline-block">{{ form.province.errors.0 }}</div>
                        {% endif %}
                    </div>

                    <input value="Employee Details" type="text">
                    {{ form.province }}
                    <datalist id="province-list">
                    </datalist>
                </div>
                <div class="flex flex-col my-1">
                    <div class="">
                        <label class="mx-[20px] font-[Inter] text-xs md:text-[14px] font-semibold text-[#1E1E1E]" for="{{ form.city.id_for_label }}">City</label>
                        {% if form.city.errors %}
                            <div class="text-[#e74c3c] text-[9px] md:text-xs font-bold inline-block">{{ form.city.errors.0 }}</div>
                        {% endif %}
                    </div>

                    <input value="Employee Details" type="text">
                    {{ form.city }}
                    <datalist id="city-list">
                    </datalist>
                </div>
            </div>
        
            <div class="order-2 flex flex-col justify-between">
                <div class="">
                    <div class="flex flex-col my-1">
                        <div class="">
                            <label class="mx-[20px] font-[Inter] text-xs md:text-[14px] font-semibold text-[#1E1E1E]" for="{{ form.barangay.id_for_label }}">Barangay</label>
                            {% if form.barangay.errors %}
                                <div class="text-[#e74c3c] text-[9px] md:text-xs font-bold inline-block">{{ form.barangay.errors.0 }}</div>
                            {% endif %}
                        </div>

                        <input value="Employee Details" type="text">
                        {{ form.barangay }}
                        <datalist id="barangay-list">
                        </datalist>
                    </div>
                    <div class="flex flex-col my-1">
                        <div class="">
                            <label class="mx-[20px] font-[Inter] text-xs md:text-[14px] font-semibold text-[#1E1E1E]" for="education">Highest Education Attainment</label>
                            {% if form.highest_education.errors %}
                                <div class="text-[#e74c3c] text-[9px] md:text-xs font-bold inline-block">{{ form.highest_education.errors.0 }}</div>
                            {% endif %}
                        </div>
    
                        <input value="Employee Details" type="text">
                        {{ form.highest_education }}
                    </div>
                    <div class="flex flex-col my-1">
                        <div class="">
                            <label class="mx-[20px] font-[Inter] text-xs md:text-[14px] font-semibold text-[#1E1E1E]" for="work-experience">Work Experience</label>
                            {% if form.work_experience.errors %}
                                <div class="text-[#e74c3c] text-[9px] md:text-xs font-bold inline-block">{{ form.work_experience.errors.0 }}</div>
                            {% endif %}
                        </div>

                        <input value="Employee Details" type="text">
                        {{ form.work_experience }}
                    </div>
                    <div class="flex flex-col my-1">
                        <div class="">
                            <label class="mx-[20px] font-[Inter] text-xs md:text-[14px] font-semibold text-[#1E1E1E]" for="date-of-employment">Daily Rate</label>
                            {% if form.daily_rate.errors %}
                                <div class="text-[#e74c3c] text-[9px] md:text-xs font-bold inline-block">{{ form.daily_rate.errors.0 }}</div>
                            {% endif %}
                        </div>

                        <input value="Employee Details" type="text">
                        {{ form.daily_rate }}
                    </div>
                    <div class="flex flex-col my-1">
                        <div class="">
                            <label class="mx-[20px] font-[Inter] text-xs md:text-[14px] font-semibold text-[#1E1E1E]" for="date-of-employment">Date of Employement</label>
                            {% if form.date_of_employment.errors %}
                                <div class="text-[#e74c3c] text-[9px] md:text-xs font-bold inline-block">{{ form.date_of_employment.errors.0 }}</div>
                            {% endif %}
                        </div>

                        <input value="Employee Details" type="text">
                        {{ form.date_of_employment }}
                    </div>
                    <div class="flex flex-col my-1">
                        <div class="">
                            <label class="mx-[20px] font-[Inter] text-xs md:text-[14px] font-semibold text-[#1E1E1E]" for="employee-status">Employee Status</label>
                            {% if form.employee_status.errors %}
                                <div class="text-[#e74c3c] text-[9px] md:text-xs font-bold inline-block">{{ form.employee_status.errors.0 }}</div>
                            {% endif %}
                        </div>

                        <input value="Employee Details" type="text">
                        {{ form.employee_status }}
                    </div>
                    <div class="flex flex-col my-2">
                        {% if form.is_active.errors %}
                            <div class="text-[#e74c3c] text-[9px] md:text-xs font-bold inline-block">{{ form.is_active.errors.0 }}</div>
                        {% endif %}
                        <div class="flex justify-between mx-[20px]">
                            <label class="font-[Inter] text-xs md:text-[14px] font-semibold text-[#1E1E1E]" for="employee-status">Active Status</label>
                            
                            <input value="Employee Details" type="checkbox">
                            {{ form.is_active }}
                        </div>
                    </div>
                </div>
                
                
                <div class="w-full h-[50px] flex justify-end items-center gap-5">
                    {% if form.non_field_errors %}
                        <div class="non-field-errors">
                            {% for error in form.non_field_errors %}
                                <div class="text-[#e74c3c] text-[9px] md:text-xs font-bold inline-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <input class="w-fit h-full text-xs/3 lg:text-base/4 font-bold text-[League Spartan] text-center" type="button" id="cancel" onclick="history.back();" value="CANCEL" />
                    <input class="size-full text-xs/3 lg:text-base/4 font-bold text-[League Spartan] text-center" type="submit" id="confirm" value="SAVE" />
                </div>    
            </div>
        </form>
    </div>
</div>

{% endblock %}

<!--(optional)script-->
{% block script %}

{% endblock %}