{% extends 'base.html' %}
{% load static %}

<!--title-->
{% block title %}Employees{% endblock %}

<!--(optional)head content-->
{% block headcontent %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<link rel="stylesheet" href="{% static 'css/default_design.css' %}">

<link rel="stylesheet" href="{% static 'css/dataTables.css' %}">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css">
<script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>

{% endblock %}

<!--header-->
{% block header %}EMPLOYEES{% endblock %} 

<!--page content-->
{% block content %}
<div class="size-full flex flex-col">
    <div class="w-full h-[40px] flex justify-between gap-2">
        <div class="w-[88%] flex justify-between items-center bg-[#FFFFFF] rounded-full overflow-hidden">
            <div class="w-full flex justify-center items-center gap-3">
                <button class="w-fit h-full pl-[15px] border-none outline-none bg-transparent flex justify-center items-center" type="submit">
                    <img class="h-[25px] w-[25px]" src="{% static 'images/search_icon.png' %}" alt="Search">
                </button>
                <input class="size-full border-none outline-none placeholder:text-base placeholder:font-semibold placeholder:font-[League_Spartan]" type="text" name="q" id="search-input" placeholder="Search" value="{{ query }}">
            </div>
        </div>
        <div class="w-fit h-full flex flex-nowrap">
            <a class="size-full" href="{% url 'payroll_system:employee_registration' %}">
                <button class="size-full text-xs/3 lg:text-base/4 font-bold text-[League Spartan] text-center" id="button">ADD EMPLOYEE</button>
            </a>
        </div>
    </div>

    <!--large-->
    <div class="flex flex-col justify-center">
        <table class="bg-white w-full border-none rounded-2xl text-xs-center overflow-hidden" id="employee-table-2">
            <thead class="border-b-[3px] border-b-[rgba(30,30,30,0.2)]">
                <tr class="text-base text-center font-[League Spartan]">
                    <th class="p-2 text-xs md:text-sm xl:text-base font-[League Spartan]">EMPLOYEE NAME</th>
                    <th class="p-2 text-xs md:text-sm xl:text-base font-[League Spartan]">ID</th>
                    <th class="p-2 text-xs md:text-sm xl:text-base font-[League Spartan]">CONTACT NUMBER</th>
                    <th class="p-2 text-xs md:text-sm xl:text-base font-[League Spartan]">EMPLOYMENT STATUS</th>
                    <th class="p-2 text-xs md:text-sm xl:text-base font-[League Spartan]">ACTIVE STATUS</th>
                    <th class="p-2 text-xs md:text-sm xl:text-base font-[League Spartan]">LAST ATTENDANCE</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                <tr id="employee-data">
                    <td class="px-2 py-4 text-[10px] md:text-xs xl:text-sm font-[Inter]">{{ employee.first_name }} {{ employee.last_name }}</td>
                    <td class="px-2 py-4 text-[10px] md:text-xs xl:text-sm font-[Inter]">{{ employee.employee_id }}</td>
                    <td class="px-2 py-4 text-[10px] md:text-xs xl:text-sm font-[Inter]">{{ employee.contact_number}}</td>
                    <td class="px-2 py-4 text-[10px] md:text-xs xl:text-sm font-[Inter]">{{ employee.employee_status }}</td>
                    <td class="px-2 py-4 text-[10px] md:text-xs xl:text-sm font-[Inter]">
                        {% if employee.is_active %}
                            <span class="px-2 py-1 text-xs font-semibold text-green-800 bg-green-100 rounded-full">Active</span>
                        {% else %}
                            <span class="px-2 py-1 text-xs font-semibold text-red-800 bg-red-100 rounded-full">Inactive</span>
                        {% endif %}
                    </td>
                    <td class="px-2 py-4 text-[10px] md:text-xs xl:text-sm font-[Inter]">
                        {% if employee.latest_attendance_date %}
                            {{ employee.latest_attendance_date }}
                        {% else %}
                            No Attendance Data
                        {% endif %}
                    </td>
                    <td class="px-2 py-4 text-[10px] md:text-xs xl:text-sm font-[Inter]">
                        <a href="{% url 'payroll_system:employee_profile' employee.employee_id %}" class="font-bold hover:text-[#F8D146] duration-100" title="View More">MORE</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}

<!--(optional)script-->
{% block script %}
    <script src="{% static 'jquery/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'javascript/dataTables.js' %}"></script>

    <script>
        let table_1;
        let table_2;

        $(document).ready(function () {
            table_1 = $('#employee-table-2').DataTable({
                responsive: true
            });

            table_2 = $('#employee-table-1').DataTable({
                responsive: true
            });

            //bind to search api
            $('#search-input').on('keyup', function () {
                table_1.search(this.value).draw();
                table_2.search(this.value).draw();
            });
        });
    </script>
{% endblock %}
