{% extends 'base.html' %}
{% load static %}

<!--title-->
{% block title %}Payroll{% endblock %}

<!--(optional)head content-->
{% block headcontent %}
    <link rel="stylesheet" href="{% static 'css/payroll.css' %}">

    <!--Datatables-->
    <link rel="stylesheet" href="{% static 'css/dataTables.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css">
    <script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
    
{% endblock %}

<!--header-->
{% block header %}PAYROLL{% endblock %} 

<!--page content-->
{% block content %}
<div class="w-full grid grid-cols-4 grid-rows-[75px_75px_75px_75px] lg:grid-cols-6 lg:grid-rows-[70px_70px] gap-4">
    <div class="bg-[#1E1E1E] px-4 order-1 col-span-4 row-span-2 flex flex-row justify-evenly items-center rounded-xl">

        <div class="h-full w-[30%] py-5 flex flex-col justify-between">
            <p class="text-lg font-bold font-[League Spartan] text-left" id="title">TOTAL PAYROLL</p>
            <div class="flex flex-col justify-end items-end text-right">
                <p class="text-[#FFF] text-3xl font-[Inter] font-semibold">{% if total_payroll == "No total payroll yet" %} No Total Payroll {% else %} ₱{{ total_payroll|floatformat:2 }} {% endif %}</p>
                <p id="percentage" class="text-lg font-[Inter] font-semibold {% if payroll_percentage > 0 %}positive{% elif payroll_percentage < 0 %}negative{% endif %}">
                    {% if payroll_percentage > 0 %}+{% endif %}{{ payroll_percentage|floatformat:1 }}%
                </p>
            </div>
        </div>

        <span class="w-[3px] h-[80%] mx-2 bg-[#f8d14640] rounded-full"></span> <!--horizontal line-->

        <div class="h-full w-[30%] py-5 flex flex-col justify-between">
            <p class="text-lg font-bold font-[League Spartan] text-left" id="title">AVR RATE OF EMPLOYEES</p>
            <div class="flex flex-col justify-end items-end text-right">
                <p class="text-[#FFF] text-3xl font-[Inter] font-semibold">{% if avg_rate == "No rate data" %} No rate data {% else %} ₱{{ avg_rate|floatformat:2 }} {% endif %}</p>
                <p id="percentage" class="text-lg font-[Inter] font-semibold {% if rate_percentage > 0 %}positive{% elif rate_percentage < 0 %}negative{% endif %}">
                    {% if rate_percentage > 0 %}+{% endif %}{{ rate_percentage|floatformat:1 }}%
                </p>
            </div>
        </div>

        <span class="w-[3px] h-[80%] mx-2 bg-[#f8d14640] rounded-full"></span> <!--horizontal line-->
        
        <div class="h-full py-5 flex flex-col justify-between">
            <p class="text-white text-lg font-bold font-[League Spartan] text-left">TOTAL PAYROLL</p>
            <div class="flex flex-row justify-evenly">
                <div id="processed">
                    <h1 class="text-lg font-bold">PROCESSED</h1>
                    <p class="text-5xl font-[Inter] font-medium">{{ processed_payroll_count }}</p>  
                </div>

                <span class="w-[3px] h-[100%] mx-2 bg-[#f8d14640] rounded-full"></span> <!--horizontal line-->
                
                <div id="pending">
                    <h1 class="text-lg font-bold">PENDING</h1>
                    <p class="text-5xl font-[Inter] font-medium">{{ pending_payroll_count }}</p>
                </div>
            </div>
        </div>

    </div>

    <div class="order-2 col-span-2 rows-span-1">
        <div class="size-full flex rounded-full overflow-hidden">
            <div class="h-full w-[35%] flex justify-center items-center bg-[#F8D146]">
                <p class="font-semibold">PAYDAY:</p>
                
            </div>
            <div class="h-full w-[65%] bg-white flex justify-center items-center gap-3">
                <p class="text-lg font-semibold" id="paydate">XX/XX/XXXX, SAT</p>
                <button class="bg-[{% static 'images/calendar_icon.png' %}] hover:bg-[{% static 'images/calendar_icon_hover.png' %}]">
                    
                </button>
            </div>
        </div>
    </div>

    <div class="order-3 col-span-2 rows-span-1">
        <div class="size-full flex rounded-full overflow-hidden">
            <button class="size-full flex justify-center items-center bg-[#F8D146] gap-4 cursor-pointer" id="edit_incentives" onclick="editIncentives()">
                <p class="text-[#FFF] font-semibold text-lg">EDIT ALL EMPLOYEE'S INCENTIVES</p>
                <img src="{% static 'images/edit_icon.png' %}" alt="">
            </button>
        </div>
    </div>
</div>

<div class="size-full flex flex-col py-10">    
    <div class="w-full h-[40px] flex justify-between items-center bg-[#FFFFFF] rounded-full overflow-hidden" id="search">
        <form class="w-full flex justify-center items-center gap-3" method="get">
            {% csrf_token %}
            <button class="w-fit h-full pl-[15px] border-none outline-none bg-transparent flex justify-center items-center" type="submit">
                <img class="h-[25px] w-[25px]" src="{% static 'images/search_icon.png' %}" alt="Search">
            </button>
            <input class="size-full border-none outline-none placeholder:text-base placeholder:font-semibold placeholder:font-[League_Spartan]" type="text" name="q" id="search-input" placeholder="Search" value="{{ query }}">
        </form>
    </div>

    <div class="flex flex-col justify-center">
        <table class="bg-white w-full my-5 border-none rounded-2xl text-xs-center overflow-hidden" id="payroll-table">
            <thead class="border-b-[3px] border-b-[rgba(30,30,30,0.2)]">
                <tr class="text-base text-center font-[League Spartan]">
                    <th class="py-2">EMPLOYEE</th>
                    <th>STATUS</th>
                    <th>RATE PER DAY</th>
                    <!-- <th>DEDUCTIONS</th> -->
                    <th id="payment-amount">PAYMENT AMOUNT</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for data in employee_data %}
                {% with employee=data.employee latest_payroll=data.latest_payroll %}
                    {% if latest_payroll %}
                    <tr id="payroll-data">
                        <td>{{ employee.first_name }} {{ employee.last_name }}</td>
                        <td>{{ latest_payroll.payroll_status }}</td>
                        <td>{{ latest_payroll.rate }}</td>
                        <!-- <td>{{ latest_payroll.deductions }}</td> -->
                        <td id="payment-amount">₱{{ latest_payroll.salary }}</td>
                        <td id="more"><a href="{% url 'payroll_system:payroll_individual' employee.employee_id %}">MORE</a></td>
                    </tr>
                    {% else %}
                    <tr id="payroll-data">
                        <td colspan="4">No payroll records found for {{ employee.first_name }} {{ employee.last_name }}</td>
                        <td id="more"><a href="{% url 'payroll_system:payroll_individual' employee.employee_id %}">MORE</a></td>
                    </tr>
                    {% endif %}
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="background" id="background">
    <div class="edit_incentives_popup" id="editIncentivesPopup">
        <h1>Edit for <span>{{ employee.first_name }} {{ employee.last_name }}</span>.</h1>
        <form method="post">
            <div class="incentives_field">
                <label for="incentives">Incentives</label>
                <input type="text" name="incentives" id="incentives" placeholder="ex. 1000.00">
            </div>

            <div class="buttons">
                <input type="button" value="Cancel" onclick="cancelEditIncentives()">
                <input type="submit" value="Save">
            </div>
        </form>
    </div>
</div>  
{% endblock %}

<!--(optional)script-->
{% block script %}
    <script src="{% static 'jquery/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'css/dataTables.js' %}"></script>

    <script>
        let table;
    
        $(document).ready(function () {
            table = $('#payroll-table').DataTable({
                responsive: true
            });
    
            // Make search input work with DataTables
            $('#search-input').on('keyup', function () {
                table.search(this.value).draw();
            });
        });

        $(document).on('keypress', '#search-input', function (e) {
            if (e.which == 13) e.preventDefault();
        });
    </script>    

    <script>
        function editIncentives(){
            const bg = document.getElementById("background");
            bg.classList.add("show");
        }
        
        function cancelEditIncentives(){
            const bg = document.getElementById("background");
            bg.classList.remove("show");
        }
    </script>
{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payroll</title>
    <link rel="stylesheet" href="{% static 'css/template_new.css' %}">
    <link rel="stylesheet" href="{% static 'css/payroll.css' %}">

    <!--Datatables
    <link rel="stylesheet" href="{% static 'css/dataTables.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css">
    <script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
    
    <style>
        .dt-length{
            display: none;
        }
        .dt-search {
            display: none;
        }

        #title,
        #percentage{
            background: -webkit-linear-gradient(#F8D146, #F5B93F);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
        #processed{
            background: -webkit-linear-gradient(#F8D146, #F5B93F);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        #pending{
            color: #DC4646;
        }

        #paydate{
            background: -webkit-linear-gradient(#F8D146, #F5B93F);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        #payroll-data:nth-child(odd){
            background-color: #f2f2f2;
        }

        #payroll-data td{
            border-bottom: 2px solid rgba(30, 30, 30, 0.20);
        }

        #payroll-data:last-child td{
            border-bottom:none;
        }
    </style>
</head>
<body class="bg-[#EFEDE6]">
    <nav class="fixed w-[80px] md:w-[190px] h-full bg-[#FFFFFF] shadow-lg/30 z-50">
        <div class="bg-[#FFFFFF] cols-span-1 row-span-1">
            <div class="h-[70px] flex flex-wrap justify-center place-items-center md:gap-2" id="logo">
                <div class="-mb-2 md:mb-0" id="logo-picture">
                    <img class="h-8 md:h-10" src="{% static 'images/logo_icon.png' %}" alt="">
                </div>
                <div class="text-[#1E1E1E] text-xs/3 md:text-lg/5 font-[League Spartan] font-extrabold" id="logo-name">
                    <p class="text-center md:text-left ">PAYROLL</p>
                    <p class="text-center md:text-left">SYSTEM</p>
                </div>
            </div>
        </div>
        <div class="overflow-hidden" id="menu">
            <ul class="h-auto w-[80px] md:w-[190px]">
                <li class="px-5 py-2.5 flex justify-center md:justify-start">
                    <a class="size-fit flex flex-nowrap items-center gap-2" href="{% url 'payroll_system:dashboard' %}">
                        <img class="w-auto h-auto" src="{% static 'images/dashboard_icon.png' %}" alt="">
                        <div class="hidden md:block text-base font-[League Spartan] font-semibold">DASHBOARD</div>
                    </a>
                </li>
                <li class="px-5 py-2.5 flex justify-center md:justify-start" id="focused">
                    <a class="size-fit flex flex-nowrap items-center gap-2" href="{% url 'payroll_system:payrolls' %}">
                        <img class="w-auto h-auto" src="{% static 'images/payroll_icon_focused.png' %}" alt="">
                        <div class="hidden md:block text-base font-[League Spartan] font-semibold">PAYROLL</div>
                    </a>
                </li>
                <li class="px-5 py-2.5 flex justify-center md:justify-start">
                    <a class="size-fit flex flex-nowrap items-center gap-2" href="{% url 'payroll_system:employees' %}">
                        <img class="w-auto h-auto" src="{% static 'images/employee_icon.png' %}" alt="">
                        <div class="hidden md:block text-base font-[League Spartan] font-semibold">EMPLOYEES</div>
                    </a>
                </li>
                <li class="px-5 py-2.5 flex justify-center md:justify-start">
                    <a class="size-fit flex flex-nowrap items-center gap-2" href="{% url 'payroll_system:services' %}">
                        <img class="w-auto h-auto" src="{% static 'images/services_icon.png' %}" alt="">
                        <div class="hidden md:block text-base font-[League Spartan] font-semibold">SERVICES</div>
                    </a>
                </li>
                <li class="px-5 py-2.5 flex justify-center md:justify-start">
                    <a class="size-fit flex flex-nowrap items-center gap-2" href="{% url 'payroll_system:status' %}">
                        <img class="w-auto h-auto" src="{% static 'images/status_icon.png' %}" alt="">
                        <div class="hidden md:block text-base font-[League Spartan] font-semibold">STATUS</div>
                    </a>
                </li>
                <li class="px-5 py-2.5 flex justify-center md:justify-start">
                    <a class="size-fit flex flex-nowrap items-center gap-2" href="{% url 'payroll_system:customers' %}">
                        <img class="w-auto h-auto" src="{% static 'images/customers_icon.png' %}" alt="">
                        <div class="hidden md:block text-base font-[League Spartan] font-semibold">CUSTOMERS</div>
                    </a>
                </li>
                <li class="px-5 py-2.5 flex justify-center md:justify-start">
                    <a class="size-fit flex flex-nowrap items-center gap-2" href="{% url 'payroll_system:settings' %}">
                        <img class="w-auto h-auto" src="{% static 'images/settings_icon.png' %}" alt="">
                        <div class="hidden md:block text-base font-[League Spartan] font-semibold">SETTINGS</div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="h-dvh w-full grid grid-cols-[80px_1fr] md:grid-cols-[190px_1fr] grid-rows-[70px_1fr] z-25">
        <div class="bg-[#FFFFFF] row-span-2">

        </div>
        
        <div class="bg-[#1E1E1E] flex justify-start items-center px-4">
            <h1 class="text-[#f8d146] font-[League Spartan] text-3xl font-bold">PAYROLL</h1>
        </div>

        <div class="size-full p-4" id="thing">
            
        </div>
    </div>
    
    <script src="{% static 'jquery/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'css/dataTables.js' %}"></script>

    <script>
        let table;
    
        $(document).ready(function () {
            table = $('#payroll-table').DataTable({
                responsive: true
            });
    
            // Make search input work with DataTables
            $('#search-input').on('keyup', function () {
                table.search(this.value).draw();
            });
        });
    </script>    

    <script>
        function editIncentives(){
            const bg = document.getElementById("background");
            bg.classList.add("show");
        }
        
        function cancelEditIncentives(){
            const bg = document.getElementById("background");
            bg.classList.remove("show");
        }
    </script>
</body>

{{ redirect_to_login_immediately }}

</html> -->