{% extends 'base.html' %}
{% load static %}

<!--title-->
{% block title %}Payroll History{% endblock %}

<!--(optional)head content-->
{% block headcontent %}
<style>
    .background {
        transition: opacity 0.3s ease;
        z-index: 50;
    }

    .edit_incentives_popup {
        transition: opacity 0.3s ease;
        z-index: 60;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }

    .background.show, 
    .edit_incentives_popup.show {
        visibility: visible !important;
        opacity: 1 !important;
    }
</style>

<link rel="stylesheet" href="{% static 'css/payroll_individual.css'%}">
<link rel="stylesheet" href="{% static 'css/table.css'%}">
<link rel="stylesheet" href="{% static 'css/default_design.css' %}">
{% endblock %}

<!--header-->
{% block header %}PAYROLL{% endblock %} 

<!--page content-->
{% block outsidecontent %}

{% endblock %}

{% block content %}
<div class="size-full flex flex-col">
    <div class="w-full flex justify-between">
        <p class="mx-3 text-[League Spartan] text-3xl font-bold">HISTORY</p>

        <select>
            <option value="">This Week</option>
            <option value="">This Month</option>
            <option value="">Last 6 Months Ago</option>
            <option value="">This Year</option>
            <option value="">Last Year</option>
            <option value="">All</option>
        </select> 
    </div>

    <table class="bg-white w-full border-none rounded-2xl text-xs-center overflow-hidden shadow-md/10">
        <thead class="border-b-[3px] border-b-[rgba(30,30,30,0.2)]">
            <tr class="">
                <th class="p-2 text-lg font-[League Spartan]">TYPE</th>
                <th class="p-2 text-lg font-[League Spartan]">START</th>
                <th class="p-2 text-lg font-[League Spartan]">END</th>
                <th class="p-2 text-lg font-[League Spartan]">STATUS</th>
                <th class="p-2 text-lg font-[League Spartan]">TOTAL NET PAY</th>
                <th class="p-2 text-lg font-[League Spartan]">PAYMENT DATE</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for payroll_period in payroll_periods %}
            <tr id="payroll-data">
                <td class="p-2 text-sm font-[Inter]">{{ payroll_period.type }}</td>
                <td class="p-2 text-sm font-[Inter]">{{ payroll_period.start_date }}</td>
                <td class="p-2 text-sm font-[Inter]">{{ payroll_period.end_date }}</td>
                <td class="p-2 text-sm font-[Inter]">{{ payroll_period.payroll_status }}</td>
                <td class="p-2 text-sm font-[Inter]"><!--TOTAL NET PAY--></td>
                <td class="p-2 text-sm font-[Inter]">{{ payroll_period.payment_date }}</td> 
                <td>
                    <a href="">view</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td class="p-2 text-center text-sm font-[Inter]" colspan="7">No Payroll Period Existing</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

<!--(optional)script-->
{% block script %}

{% endblock %}