{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payroll</title>
    <link rel="stylesheet" href="{% static 'css/template.css' %}">
    <link rel="stylesheet" href="{% static 'css/payroll_individual.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="body">
        <nav>
            <!-- logo -->
            <div class="logo">
                <div class="logo-group">
                    <div class="logo-picture">
                        <img src="{% static 'images/logo_icon.png' %}" alt="">
                    </div>
                    <div class="logo-name">
                        <p>PAYROLL</p>
                        <p>SYSTEM</p>
                    </div>
                </div>
            </div>
            
            <!-- nav menu -->
            <div class="menu">
                <ul>
                    <li class="menu-dashboard">
                        <a href="{% url 'payroll_system:dashboard' %}">
                            <img src="{% static 'images/dashboard_icon.png' %}" alt="">
                            <div class="link">DASHBOARD</div>
                        </a>
                    </li>
                    <li class="menu-payroll" id="focused">
                        <a href="{% url 'payroll_system:payrolls' %}">
                            <img src="{% static 'images/payroll_icon_focused.png' %}" alt="">
                            <div class="link">PAYROLL</div>
                        </a>
                    </li>
                    <li class="menu-employees">
                        <a href="{% url 'payroll_system:employees' %}">
                            <img src="{% static 'images/employee_icon.png' %}" alt="">
                            <div class="link">EMPLOYEES</div>
                        </a>
                        
                    </li>
                    <li class="menu-settings">
                        <a href="{% url 'payroll_system:settings' %}">
                            <img src="{% static 'images/settings_icon.png' %}" alt="">
                            <div class="link">SETTINGS</div>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Header -->
        <header>
            <h1>PAYROLL</h1>
        </header>

        <div class="system_content">
            <div class="container">
                <div class="container-1">
                    <div class="employee_info">
                        <div class="profile-picture">
                            <img src="{{ employee.employee_image.url }}" alt="">
                        </div>
                        
                        <div class="employee_status">
                            <div class="name">
                                <p>{{ employee.first_name }} {{ employee.last_name }}</p>
                            </div>
                            <div class="attendance">
                                <p>
                                    {% if employee.active_status %}
                                        Active
                                    {% else %}
                                        Inactive
                                    {% endif %}
                                </p>
                            </div>
                            <div class="payroll">
                                {% if current_payroll %}
                                    <p>{{ current_payroll.payroll_status }}</p>
                                {% else %}
                                    <p>None</p>
                                {% endif %}
                            </div>
                        </div>  
                    </div>
                    
                    <div class="buttons">
                        <a href="{% url 'payroll_system:employee_profile' employee.employee_id %}"><button class="check-employee">check employee profile >></button></a>
                        <button class="edit-employee" onclick="editIncentives()">EDIT EMPLOYEE INCENTIVES</button>
                    </div>
                </div>
                
                
    
                <div class="div1">
                    <table class="table-1">
                        <tr>
                            <th>Rate per day</th>
                            <th>No. of Attendance during the week</th>
                            <!-- <th>Deductions</th> -->
                            <th>Total Payment Amount</th>
                            <th>Date of Pay</th>
                            <th></th>
                        </tr>
                            {% if current_payroll %}
                                <td>{{ current_payroll.rate }}</td>
                                <td>{{ attendance_count }}</td>
                                <!-- <td>{{ current_payroll.deductions }}</td> -->
                                <td>{{ current_payroll.salary }}</td>
                                <td>{{ current_payroll.payment_date }}</td>
                                <td><a href="{% url 'payroll_system:payroll_edit' employee.employee_id %}"><img class="edit-icon" src="{% static 'images/payroll_edit_icon.png' %}" alt=""></a></td>
                            {% else %}
                                <td>0.00</td>
                                <td>{{ attendance_count|default:"0" }}</td>
                                <!-- <td>0.00</td> -->
                                <td>0.00</td>
                                <td>N/A</td>
                                <td><a href="{% url 'payroll_system:payroll_edit' employee.employee_id %}"><img class="edit-icon" src="{% static 'images/payroll_edit_icon.png' %}" alt=""></a></td>
                            {% endif %}
                    </table>
                </div>
    
                <div class="div2">
                    <div class="tableheader">
                        <p style="margin: 15px;">Summary of Past Payroll Records</p>
                    </div>
                    <table>
                        <th>Rate per day</th>
                        <th>No. of attendance during the week</th>
                        <th>Incentives</th>
                        <!-- <th>Total Deduction</th> -->
                        <th>Total Payment Amount</th>
                        <th>Date of Pay</th>
                        <tr>
                        {% if current_payroll %}
                            <td>{{ current_payroll.rate }}</td>
                            <td>
                                {% with attendance_count=employee.attendances.count %}
                                    {{ attendance_count|default:"0" }}
                                {% endwith %}
                            </td>
                            <td>{{ current_payroll.incentives }}</td>
                            <!-- <td>{{ current_payroll.deductions }}</td> -->
                            <td>{{ current_payroll.salary }}</td>
                            <td>{{ current_payroll.payment_date }}</td>
                        {% else %}
                            <td>0.00</td>
                            <td>N/A</td>
                            <td>0.00</td>
                            <!-- <td>0.00</td> -->
                            <td>0.00</td>
                            <td>N/A</td>
                        {% endif %}
                        </tr>
                    </table>
                </div>
            </div>

            <div class="background" id="background">
                <div class="edit_incentives_popup" id="editIncentivesPopup">
                    <h1>Edit for <span>{{ employee.first_name }} {{ employee.last_name }}</span>.</h1>
                    <form method="post">
                        <div class="incentives_field">
                            <label for="incentives">Incentives</label>
                            <input type="text" name="incentives" id="incentives" placeholder="ex. 1000.00">
                        </div>

                        <div class="buttons">
                            <input type="button" value="Cancel" onclick="cancelEditIncentives()">
                            <input type="submit" value="Save">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</body>
<script>
    function editIncentives(){
        const bg = document.getElementById("background");
        bg.classList.add("show");
    }

    function cancelEditIncentives(){
        const bg = document.getElementById("background");
        bg.classList.remove("show");
    }
</script>
</html>