{% extends 'base.html' %}
{% load static %}

<!--title-->
{% block title %}Payroll{% endblock %}

<!--(optional)head content-->
{% block headcontent %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<link rel="stylesheet" href="{% static 'css/default_design.css' %}">

<style>
    .background.show,
    .popup.show
    {
        visibility: visible;
        opacity: 1;
    }

    input[type=date], input[type=text]{
        margin: 2px;
        padding: 0 15px;
        border: none;

        background-color: rgba(111, 81, 21, 0.10);
        border-radius: 10px;
    }
</style>
{% endblock %}

<!--header-->
{% block header %}PAYROLL{% endblock %} 

<!--page content-->
{% block outsidecontent %}
<div id="background" class="background absolute m-0 size-full bg-[rgba(30,30,30,0.5)] invisible opacity-0 z-50" onclick="cancelAddPayroll()">
    
</div> 

<div id="payroll-popup" class="popup absolute w-[40%] py-5 px-10 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex flex-col justify-around invisible opacity-0 rounded-lg bg-white z-60 overflow-hidden shadow-lg/20 gap-4">
    <div class="space-y-2">
        <h1 class="text-xl sm:text-2xl font-[League Spartan] font-semibold text-left m-0">Add Payroll</h1>
        <p class="text-sm font-[League Spartan] font-normal text-left m-0">Please select the start and end dates for the payroll period. Make sure the dates are correct before submitting.</p>    
    </div>
    <form class="flex flex-col gap-5" method="post" onsubmit="event.preventDefault();">
        {% csrf_token %}
        <div class="flex flex-col">
            <label for="type" class="mx-3 font-[Inter] text-sm md:text-[14px] font-semibold text-[#1E1E1E]">Payroll Type</label>
        
            <div class="w-full h-[75%]">
                <input type="text" name="type" id="type" class="w-full h-full px-5 outline-none border-none font-[Inter] font-normal text-3xl" required>
            </div>
        </div>

        <div class="flex gap-5">
            <div class="flex flex-col w-[50%]">
                <label for="start_date" class="mx-3 font-[Inter] text-sm md:text-[14px] font-semibold text-[#1E1E1E]">Start Date</label>
            
                <div class="w-full h-[60px]">
                    <input type="date" name="start_date" id="start_date" class="w-full h-full px-5 outline-none border-none font-[Inter] font-normal text-3xl" required>
                </div>
            </div>

            <div class="flex flex-col w-[50%]">
                <label for="end_date" class="mx-3 font-[Inter] text-sm md:text-[14px] font-semibold text-[#1E1E1E]">End Date</label>
            
                <div class="w-full h-[60px]">
                    <input type="date" name="end_date" id="end_date" class="w-full h-full px-5 outline-none border-none font-[Inter] font-normal text-3xl" required>
                </div>
            </div>
        </div>

        <div class="w-full h-[40px] flex justify-end gap-3">
            <button id="cancel" class="size-full text-xs/3 lg:text-sm/4 font-bold text-[League Spartan] h-full text-center" value="CANCEL" onclick="canceladdPayroll()">CANCEL</button>
            <button id="button" class="size-full text-xs/3 lg:text-sm/4 font-bold text-[League Spartan] h-full text-center" value="CONFIRM" onclick="">CONFIRM</button>    
        </div>
    </form>   
</div>
{% endblock %}

{% block content %}
<div class="size-full flex flex-col gap-4">
    <div class="w-full flex justify-between items-end">
        <h1 class="text-[League Spartan] text-xl font-bold">CURRENT PAYROLL</h1>

        <button id="button" onclick="addPayroll()">ADD PAYROLL</button> 
    </div>
    <table class="bg-white w-full border-none rounded-2xl text-xs-center overflow-hidden shadow-md/10">
        <thead class="border-b-[3px] border-b-[rgba(30,30,30,0.2)]">
            <tr class="text-base text-center">
                <th class="p-2 text-base font-[League Spartan]">PERIOD</th>
                <th class="p-2 text-base font-[League Spartan]">START</th>
                <th class="p-2 text-base font-[League Spartan]">END</th>
                <th class="p-2 text-base font-[League Spartan]">STATUS</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr id="payroll-data">
                <td class="p-2 text-sm font-[Inter]">April 12-19</td>
                <td class="p-2 text-sm font-[Inter]">00-00-00</td>
                <td class="p-2 text-sm font-[Inter]">00-00-00</td>
                <td class="p-2 text-sm font-[Inter]">Pending</td>
                <td class="p-2 text-sm font-[Inter]">
                    <a href="">more</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="w-full h-[2px] my-1 border border-2 border-[#1e1e1e40] rounded-full"></div>

    <div class="w-full flex justify-between items-end">
        <select>
            <option value="">THIS WEEK</option>
            <option value="">THIS MONTH</option>
            <option value="">LAST 6 MONTHS AGO</option>
            <option value="">THIS YEAR</option>
            <option value="">LAST YEAR</option>
            <option value="">ALL</option>
        </select> 

        <div class="flex">
            <p class="text-[League Spartan] text-lg font-bold"><a href="">HISTORY</a> | <a href="">PENDING</a></h1>
        </div>
    </div>

    <table class="bg-white w-full border-none rounded-2xl text-xs-center overflow-hidden shadow-md/10">
        <thead class="border-b-[3px] border-b-[rgba(30,30,30,0.2)]">
            <tr class="text-base text-center">
                <th class="p-2 text-base font-[League Spartan]">PERIOD</th>
                <th class="p-2 text-base font-[League Spartan]">START</th>
                <th class="p-2 text-base font-[League Spartan]">END</th>
                <th class="p-2 text-base font-[League Spartan]">TYPE</th>
                <th class="p-2 text-base font-[League Spartan]">STATUS</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr id="payroll-data">
                <td class="p-2 text-sm font-[Inter]">April 12-19</td>
                <td class="p-2 text-sm font-[Inter]">00-00-00</td>
                <td class="p-2 text-sm font-[Inter]">00-00-00</td>
                <td class="p-2 text-sm font-[Inter]">Weekly</td>
                <td class="p-2 text-sm font-[Inter]">Pending</td>
                <td class="p-2 text-sm font-[Inter]">
                    <a href="">more</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

<!--(optional)script-->
{% block script %}
<script>
    function addPayroll(){
        let bg = document.getElementById("background");
        const popup = document.getElementById("payroll-popup");
        
        bg.classList.add("show");
        popup.classList.add("show");
    }

    function cancelAddPayroll(){
        let bg = document.getElementById("background");
        const popup = document.getElementById("payroll-popup");
        bg.classList.remove("show");
        popup.classList.remove("show");
    }
</script>
{% endblock %}