{% extends 'base.html' %}
{% load static %}

<!--title-->
{% block title %}Editing Payroll...{% endblock %}

<!--(optional)head content-->
{% block headcontent %}
<link rel="stylesheet" href="{% static 'css/payroll_edit.css' %}">
{% endblock %}

<!--header-->
{% block header %}PAYROLL{% endblock %} 

<!--page content-->
{% block content %}

<div class="profile-picture">
    <img src="{{ employee.employee_image.url }}" alt="">
    <div class="employee_name">
        <h1>
            {{ employee.first_name }} {{ employee.last_name }}
        </h1>
    </div>
</div>

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

<!-- Display form errors -->
{% if form.non_field_errors %}
<div class="form-errors">
    {% for error in form.non_field_errors %}
    <div class="error">{{ error }}</div>
    {% endfor %}
</div>
{% endif %}

<div class="edit_container">
    <table>
        <tr>
            <th>Rate per Day</th>
            <!-- <th>Deductions</th> -->
            <th>Date of Pay</th>
            <th>Payroll Status</th>
            <th></th>
        </tr>
        <tr>
            <form class="edit_field" method="POST">
                {% csrf_token %}
                <td>{{ form.rate }}</td>
                <!-- <td>{{ form.deductions }}</td> -->
                <td>{{ form.payment_date }}</td>
                <td>{{ form.payroll_status }}</td>
                <td>
                    <a href=""><input type="button" value=""></a>
                    <input type="submit" value="">
                </td>
            </form>
        </tr>
    </table>
</div>
{% endblock %}

<!--(optional)script-->
{% block script %}

{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registering Employees...</title>
    <link rel="stylesheet" href="{% static 'css/template_new.css' %}">
    <link rel="stylesheet" href="{% static 'css/payroll_edit.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body class="bg-[#EFEDE6]">


    <div class="h-dvh w-full grid grid-cols-[80px_1fr] md:grid-cols-[190px_1fr] grid-rows-[70px_1fr] z-25">
        <div class="bg-[#FFFFFF] row-span-2">

        </div>
        
        <div class="bg-[#1E1E1E] flex justify-start items-center px-4">
            <h1 class="text-[#f8d146] font-[League Spartan] text-3xl font-bold ">PAYROLL</h1>
        </div>

        <div class="size-full py-4 px-3" id="thing">
            
        </div>
    </div>
</body>

{{ redirect_to_login_immediately }}

</html> -->