{% extends 'base.html' %}
{% load static %}

<!--title-->
{% block title %}Confirming Client{% endblock %}

<!--(optional)head content-->
{% block headcontent %}
<link rel="stylesheet" href="{% static 'css/services_client.css' %}">
<link rel="stylesheet" href="{% static 'css/default_design.css' %}">
{% endblock %}

<!--header-->
{% block header %}SERVICES{% endblock %} 

<!--page content-->
{% block content %}
<div class="flex flex-col">
    <div class="w-full px-5 flex flex-col gap-2">
        <p>Not a new customer?</p>

        <div class="w-full h-[40px] flex justify-between items-center bg-[#FFFFFF] rounded-full overflow-hidden">
            <form class="w-full flex justify-center items-center gap-3" method="get" action="#">
                {% csrf_token %}
                <img class="h-[25px] w-[25px] ml-[15px] flex justify-center items-center" src="{% static 'images/search_icon.png' %}" alt="Search">
                <input class="size-full border-none outline-none placeholder:text-base placeholder:font-semibold placeholder:font-[League_Spartan]" list="customers" name="customer" id="customer" placeholder="Search Customer...">
                
                <datalist id="customers">
                    {% for customer in customers %}
                    <option value="{{ customer.first_name }} {{ customer.last_name }}">
                    {% endfor %}
                </datalist>
            </form>
        </div>
    </div>

    <span class="w-[100%] h-[3px] my-5 bg-[#45320d4d] rounded-xl"></span>

    <div class="size-full my-2 flex items-start">
        <form class="size-full flex flex-col justify-between" action="{% url 'payroll_system:services_assign' %}" method="post">
            {% csrf_token %}
            <div id="client-form" class="flex">
                <div id="left" class="w-[50%] mx-5">
                    <div class="flex flex-col">
                        <label for="first-name">first name</label>
                        {{ customer_form.first_name }}
                    </div>
                    <div class="flex flex-col">
                        <label for="middle-name">middle name</label>
                        {{ customer_form.middle_name }}
                    </div>
                    <div class="flex flex-col">
                        <label for="last-name">last name</label>
                        {{ customer_form.last_name }}
                    </div>
                    <div class="flex flex-col">
                        <label for="gender">gender</label>
                        {{ customer_form.gender }}
                    </div>
                    <div class="flex flex-col">
                        <label for="contact-number">contact number</label>
                        {{ customer_form.contact_number }}
                    </div>
                </div>
                <div id="right" class="w-[50%] mx-5">
                    <div class="flex flex-col">
                        <label for="{{ customer_form.region.id_for_label }}">{{ customer_form.region.label }}</label>
                        {{ customer_form.region }}
                        {% if customer_form.region.errors %}
                            <div class="text-[#e74c3c] text-xs font-bold m-3 block">{{ customer_form.region.errors.0 }}</div>
                        {% endif %}
                        <datalist id="region-list">
                            {% for region in regions %}
                                <option value="{{ region.regDesc }}" data-code="{{ region.regCode }}">
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="flex flex-col">
                        <label for="{{ customer_form.province.id_for_label }}">{{ customer_form.province.label }}</label>
                        {{ customer_form.province }}
                        {% if customer_form.province.errors %}
                            <div class="text-[#e74c3c] text-xs font-bold m-3 block">{{ customer_form.province.errors.0 }}</div>
                        {% endif %}
                        <datalist id="province-list">
                            {% for province in provinces %}
                                <option value="{{ province.regDesc }}" data-code="{{ province.regCode }}">
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="flex flex-col">
                        <label for="{{ customer_form.city.id_for_label }}">{{ customer_form.city.label }}</label>
                        {{ customer_form.city }}
                        {% if customer_form.city.errors %}
                            <div class="text-[#e74c3c] text-xs font-bold m-3 block">{{ customer_form.city.errors.0 }}</div>
                        {% endif %}
                        <datalist id="city-list">
                            {% for city in citys %}
                                <option value="{{ city.regDesc }}" data-code="{{ city.regCode }}">
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="flex flex-col">
                        <label for="{{ customer_form.barangay.id_for_label }}">{{ customer_form.barangay.label }}</label>
                        {{ customer_form.barangay }}
                        {% if customer_form.barangay.errors %}
                            <div class="text-[#e74c3c] text-xs font-bold m-3 block">{{ customer_form.barangay.errors.0 }}</div>
                        {% endif %}
                        <datalist id="barangay-list">
                            {% for barangay in barangays %}
                                <option value="{{ barangay.regDesc }}" data-code="{{ barangay.regCode }}">
                            {% endfor %}
                        </datalist>
                    </div>
                </div>
            </div>

            <span class="w-[100%] h-[2px] my-5 bg-[#45320d4d] rounded-xl"></span>

                <!--<form class="w-full flex justify-center items-center gap-3" method=""> -->
                    <!--to be connected to database; selecting an option should auto fill proceeding fields(for old customers only!)-->
                    <!-- <select class="w-full h-[50px] pl-4 border-none outline-none focus:outline-none focus:border-none focus:ring-0 text-base font-semibold font-[League_Spartan] bg-white rounded-md" name="vehicle" id="vehicle">
                        <option value="Vehicle 1">Vehicle 1</option>
                        <option value="Vehicle 2">Vehicle 2</option>
                        <option value="Vehicle 3">Vehicle 3</option>
                        <option value="Vehicle 4">Vehicle 4</option>
                    </select> -->
                
                <!-- </form> -->
            <div id="vehicle-form" class="flex flex-col px-5 gap-5">
                <div class="flex my-2 gap-2 mx-5">
                    <div id="left" class="w-[50%]">
                        <div class="flex flex-col">
                            <label for="vehicle-name">vehicle name</label>
                            {{ vehicle_form.vehicle_name }}
                        </div>
                        <div class="flex flex-col">
                            <label for="vehicle-color">vehicle color</label>
                            {{ vehicle_form.vehicle_color }}
                        </div>
                    </div>
                    <div id="right" class="w-[50%] mx-5">
                        <div class="flex flex-col">
                            <label for="plate-number">plate number</label>
                            {{ vehicle_form.plate_number }}
                        </div>
                    </div>
                </div>
            </div>

            <span class="w-[100%] h-[3px] my-5 bg-[#45320d4d] rounded-xl"></span>

            <div class="w-full h-[50px] flex justify-end gap-4">
                <a class="h-full" href="javascript:history.back()">
                    <input id="cancel" class="w-full h-[40px] px-4 font-bold text-[League Spartan] text-center" type="button" value="CANCEL">
                </a>
                <a class="h-full" href="{% url 'payroll_system:services_assign' %}">
                    <input id="button" class="w-full h-[40px] px-4 font-bold text-[League Spartan] text-center" type="submit" value="CONFIRM CUSTOMER">
                </a>
            </div>
        </form>
    </div>   
</div>
{% endblock %}
{% block script %}
<script src="{% static 'javascript/phLocations.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        initializeAddressFields({
            regionInputId: "region-dropdown",
            provinceInputId: "province-dropdown",
            cityInputId: "city-dropdown",
            barangayInputId: "barangay-dropdown",
            regionListId: "region-list",
            provinceListId: "province-list",
            cityListId: "city-list",
            barangayListId: "barangay-list",
            baseUrl: "/payroll_system/ajax"
        });
    });
</script>
{% endblock %}