{% extends 'base.html' %}
{% load static %}

<!--title-->
{% block title %}Services{% endblock %}

<!--(optional)head content-->
{% block headcontent %}
<link rel="stylesheet" href="{% static 'css/default_design.css' %}">
{% endblock %}

<!--header-->
{% block header %}SERVICES{% endblock %} 

<!--page content-->
{% block content %}
<div class="size-full flex flex-col items-center">
    <div class="w-full h-[40px]">
        <a class="h-full w-full" href="{% url 'payroll_system:services_add' %}">
            <button class="w-fit h-full px-4 font-bold text-[League Spartan] text-center" id="button" title="Add Services">ADD SERVICES</button>
        </a>
    </div>
    
    <div class="w-full h-auto my-5 flex justify-center items-center">
        <div class="w-[95%] h-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-5 xl:gap-6">
            {% for service in services %}
            <div id="service" class="h-[200px] md:h-[250px] bg-white rounded-xl overflow-hidden shadow-lg/10" title="{{ service.title }}">
                <a class="no-underline" href="{% url 'payroll_system:services_client' %}?service_id={{ service.service_id }}">
                    <div id="picture" class="h-[70%] bg-[#1e1e1e]">
                        <img class="w-full h-full object-cover" src="{{ service.service_image.url }}" alt="{{ service.title }}">
                    </div>
                    <div id="title" class="h-[30%] py-[15px] px-[20px] bg-white flex justify-between">
                        <p class="m-0 font-[Roboto] text-lg md:text-xl text-[#1E1E1E]">{{ service.title }}</p>
                    </div>
                </a>
            </div>
            {% empty %}
            <div class="w-full text-center py-5 col-span-full">
                <p>No services available. Please add services.</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}