{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
    <link rel="stylesheet" href="{% static 'css/template.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="body">
        <nav>
            <!-- logo -->
            <div class="logo">
                <div class="logo-group">
                    <div class="logo-picture">
                        <img src="{% static 'images/logo_icon.png' %}" alt="">
                    </div>
                    <div class="logo-name">
                        <p>PAYROLL</p>
                        <p>SYSTEM</p>
                    </div>
                </div>
            </div>
            
            <!-- nav menu -->
            <div class="menu">
                <ul>
                    <li class="menu-object">
                        <a href="{% url 'payroll_system:dashboard' %}">
                            <img src="{% static 'images/dashboard_icon.png' %}" alt="">
                            <div class="link">DASHBOARD</div>
                        </a>
                    </li>
                    <li class="menu-object">
                        <a href="{% url 'payroll_system:payrolls' %}">
                            <img src="{% static 'images/payroll_icon.png' %}" alt="">
                            <div class="link">PAYROLL</div>
                        </a>
                    </li>
                    <li class="menu-object">
                        <a href="{% url 'payroll_system:employees' %}">
                            <img src="{% static 'images/employee_icon.png'%}" alt="">
                            <div class="link">EMPLOYEES</div>
                        </a>
                    </li>
                    <li class="menu-object">
                        <a href="">
                            <img src="{% static 'images/services_icon.png' %}" alt="">
                            <div class="link">SERVICES</div>
                        </a>
                    </li>
                    <li class="menu-object">
                        <a href="">
                            <img src="{% static 'images/status_icon.png' %}" alt="">
                            <div class="link">STATUS</div>
                        </a>
                    </li>
                    <li class="menu-object">
                        <a href="">
                            <img src="{% static 'images/customers_icon.png' %}" alt="">
                            <div class="link">CUSTOMERS</div>
                        </a>
                    </li>
                    <li class="menu-object" id="focused">
                        <a href="{% url 'payroll_system:settings' %}">
                            <img src="{% static 'images/settings_icon_focused.png' %}" alt="">
                            <div class="link">SETTINGS</div>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Header -->
        <header>
            <h1>SETTINGS</h1>
        </header>
    
        <div class="system_content">
            <div class="container">
                <div class="manage_user">
                    <button class="user" onclick="toggleDropdown()">
                        <div class="content">
                            <img src="{% static 'images/user_icon.png' %}" alt="">
                            <h1>Manage User</h1>
                        </div>
                    </button>
                    <div class="dropdown-content">
                        <div class="form">
                            <form method="post">
                                {% csrf_token %}
                                <div class="change_username">
                                    <label for="username">Change Username</label>
                                    {{ form.username }}
                                </div>
    
                                <div class="change_password">
                                    <label for="password">Change Password</label>
                                    {{ form.password }}
                                </div>
    
                                <div class="save_btn">
                                    <input type="submit" value="Save">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
    
                <a href="{% url 'payroll_system:about' %}">
                    <div class="about_us">
                        <div class="content">
                            <img src="{% static 'images/about_icon.png' %}" alt="">
                            <h1>About Us</h1>
                        </div>
                    </div>
                </a>
                <form method="post" action="{% url 'users:logout' %}">
                    {% csrf_token %}
                    <button type="submit">
                        <div class="content">
                            <img src="{% static 'images/logout_icon.png' %}" alt="">
                            <h1>Logout</h1>
                        </div>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <script>
        function toggleDropdown() {
            document.querySelector('.manage_user').classList.toggle('active');
        }
    </script>
</body>
</html>