{% extends 'base.html' %}
{% load static %}

<!--title-->
{% block title %}Settings{% endblock %}

<!--(optional)head content-->
{% block headcontent %}
<link rel="stylesheet" href="{% static 'css/settings.css' %}">
{% endblock %}

<!--header-->
{% block header %}SETTINGS{% endblock %} 

<!--page content-->
{% block content %}
<a href="{% url 'payroll_system:admin_edit_profile' %}">
    <div class="manage_user">
        <div class="content">
            <img src="{% static 'images/user_icon.png' %}" alt="">
            <h1>Manage User</h1>
        </div>
    </div>
</a>

<a href="{% url 'payroll_system:about' %}">
    <div class="about_us">
        <div class="content">
            <img src="{% static 'images/about_icon.png' %}" alt="">
            <h1>About Us</h1>
        </div>
    </div>
</a>

<form method="post" action="{% url 'users:logout' %}">
    {% csrf_token %}
    <button type="submit">
        <div class="content">
            <img src="{% static 'images/logout_icon.png' %}" alt="">
            <h1>Logout</h1>
        </div>
    </button>
</form>
{% endblock %}

<!--(optional)script-->
{% block script %}
<script>
    function toggleDropdown() {
        document.querySelector('.manage_user').classList.toggle('active');
    }
</script>
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
    <link rel="stylesheet" href="{% static 'css/template_new.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body class="bg-[#EFEDE6]">
    <nav class="fixed w-[80px] md:w-[190px] h-full bg-[#FFFFFF] shadow-lg/30 z-50">
        <div class="bg-[#FFFFFF] cols-span-1 row-span-1">
            <div class="h-[70px] flex flex-wrap justify-center place-items-center md:gap-2" id="logo">
                <div class="-mb-2 md:mb-0" id="logo-picture">
                    <img class="h-8 md:h-10" src="{% static 'images/logo_icon.png' %}" alt="">
                </div>
                <div class="text-[#1E1E1E] text-xs/3 md:text-lg/5 font-[League Spartan] font-extrabold" id="logo-name">
                    <p class="text-center md:text-left ">PAYROLL</p>
                    <p class="text-center md:text-left">SYSTEM</p>
                </div>
            </div>
        </div>
        <div class="overflow-hidden" id="menu">
            <ul class="h-auto w-[80px] md:w-[190px]">
                <li class="px-5 py-2.5 flex justify-center md:justify-start">
                    <a class="size-fit flex flex-nowrap items-center md:gap-2" href="{% url 'payroll_system:dashboard' %}">
                        <img class="w-auto h-auto" src="{% static 'images/dashboard_icon.png' %}" alt="">
                        <div class="hidden md:block text-base font-[League Spartan] font-semibold">DASHBOARD</div>
                    </a>
                </li>
                <li class="px-5 py-2.5 flex justify-center md:justify-start">
                    <a class="size-fit flex flex-nowrap items-center md:gap-2" href="{% url 'payroll_system:payrolls' %}">
                        <img class="w-auto h-auto" src="{% static 'images/payroll_icon.png' %}" alt="">
                        <div class="hidden md:block text-base font-[League Spartan] font-semibold">PAYROLL</div>
                    </a>
                </li>
                <li class="px-5 py-2.5 flex justify-center md:justify-start">
                    <a class="size-fit flex flex-nowrap items-center md:gap-2" href="{% url 'payroll_system:employees' %}">
                        <img class="w-auto h-auto" src="{% static 'images/employee_icon.png' %}" alt="">
                        <div class="hidden md:block text-base font-[League Spartan] font-semibold">EMPLOYEES</div>
                    </a>
                </li>
                <li class="px-5 py-2.5 flex justify-center md:justify-start">
                    <a class="size-fit flex flex-nowrap items-center md:gap-2" href="{% url 'payroll_system:services' %}">
                        <img class="w-auto h-auto" src="{% static 'images/services_icon.png' %}" alt="">
                        <div class="hidden md:block text-base font-[League Spartan] font-semibold">SERVICES</div>
                    </a>
                </li>
                <li class="px-5 py-2.5 flex justify-center md:justify-start">
                    <a class="size-fit flex flex-nowrap items-center md:gap-2" href="{% url 'payroll_system:status' %}">
                        <img class="w-auto h-auto" src="{% static 'images/status_icon.png' %}" alt="">
                        <div class="hidden md:block text-base font-[League Spartan] font-semibold">STATUS</div>
                    </a>
                </li>
                <li class="px-5 py-2.5 flex justify-center md:justify-start">
                    <a class="size-fit flex flex-nowrap items-center md:gap-2" href="{% url 'payroll_system:customers' %}">
                        <img class="w-auto h-auto" src="{% static 'images/customers_icon.png' %}" alt="">
                        <div class="hidden md:block text-base font-[League Spartan] font-semibold">CUSTOMERS</div>
                    </a>
                </li>
                <li class="px-5 py-2.5 flex justify-center md:justify-start" id="focused">
                    <a class="size-fit flex flex-nowrap items-center md:gap-2" href="{% url 'payroll_system:settings' %}">
                        <img class="w-auto h-auto" src="{% static 'images/settings_icon_focused.png' %}" alt="">
                        <div class="hidden md:block text-base font-[League Spartan] font-semibold">SETTINGS</div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="h-dvh w-full grid grid-cols-[80px_1fr] md:grid-cols-[190px_1fr] grid-rows-[70px_1fr] z-25">
        <div class="bg-[#FFFFFF] row-span-2">

        </div>
        
        <div class="bg-[#1E1E1E] flex justify-start items-center px-4">
            <h1 class="text-[#f8d146] font-[League Spartan] text-3xl font-bold ">SETTINGS</h1>
        </div>

        <div class="size-full py-4 px-3" id="thing">
            <a href="{% url 'payroll_system:admin_edit_profile' %}">
                <div class="manage_user">
                    <div class="content">
                        <img src="{% static 'images/user_icon.png' %}" alt="">
                        <h1>Manage User</h1>
                    </div>
                </div>
            </a>

            <a href="{% url 'payroll_system:about' %}">
                <div class="about_us">
                    <div class="content">
                        <img src="{% static 'images/about_icon.png' %}" alt="">
                        <h1>About Us</h1>
                    </div>
                </div>
            </a>
            <form method="post" action="{% url 'users:logout' %}">
                {% csrf_token %}
                <button type="submit">
                    <div class="content">
                        <img src="{% static 'images/logout_icon.png' %}" alt="">
                        <h1>Logout</h1>
                    </div>
                </button>
            </form>
        </div>
        <script>
            function toggleDropdown() {
                document.querySelector('.manage_user').classList.toggle('active');
            }
        </script>
    </div>
</body>

{{ redirect_to_login_immediately }}

</html>