{% extends 'base.html' %}
{% load static %}

<!--title-->
{% block title %}Status{% endblock %}

<!--(optional)head content-->
{% block headcontent %}
{% endblock %}

<!--header-->
{% block header %}STATUS{% endblock %} 

<!--page content-->
{% block content %}

<div class="size-full flex flex-col">
    <div class="w-full h-[7%] px-3 flex flex-row justify-between items-center gap-3">
        <div class="w-fit flex items-center">
            <p class="text-3xl font-[League Spartan] font-bold">TASKS</p>
        </div>
        <div class="w-fit h-full py-2 flex flex-row justify-end items-end gap-3">
            <a href="">
                <p class="text-lg font-[Roboto] font-extrabold text-[#1E1E1E] hover:text-[#F8D146] duration-300">IN PROGRESS</p>
            </a>
            <span class="w-[2px] h-[50%] bg-[#f8d14625] rounded-xl"></span> <!--horizontal line-->
            <a href="">
                <p class="text-lg font-[Roboto] font-extrabold text-[#1E1E1E] hover:text-[#F8D146] duration-300">COMPLETE</p>
            </a>
        </div>
    </div>
    
    <span class="w-full h-[2px] bg-[#f8d14660] rounded-xl"></span> <!--horizontal line-->
    
{% for task in tasks %}
    <div class="w-full h-[20%] flex justify-between rounded-xl bg-white my-5 py-5 px-8">
        <div class="w-[85%] h-full flex flex-col justify-between">
            <div class="w-full h-[30%]">
                <div class="size-full flex flex-row gap-3">
                    <h1 class="text-xl/4.5">{{ task.customer.first_name }} {{ task.customer.last_name }}</h1>
                    <span class="w-[2px] h-[60%] bg-[#000] rounded-xl"></span>
                    <h1 class="text-xl/4.5">{{ task.vehicle.vehicle_name }} {{ task.vehicle.plate_number }}</h1>
                </div>
                <p class="opacity-50 text-xs">Assigned Employee: {{ task.employee.first_name }} {{ task.employee.last_name }}</p>
            </div>
            <div class="w-full h-fit">
                <h1 class="text-base opacity-50">{{ task.service.title }}</h1>
            </div>
        </div>
        <div class="w-[15%] h-fit flex">
            <div class="flex items-center">
                <h1 class="text-[#F8D146] text-base text-lg">{{ task.task_status }}</h1>
                <span class="w-[2px] h-[50%] bg-[#f8d14625] rounded-xl"></span> 
                <img class="cursor-pointer w-9" src="{% static 'images/cancecl_icon_hover.png' %}" alt="">
            </div> 
        </div> 
    </div>
    {% empty %}
    <div class="flex justify-center items-center p-10">
        <h2>No tasks available.</h2>
    </div>
{% endfor %}
</div>

{% endblock %}